{% set imgHost = app_environment == 'dev' ? 'http://128.199.84.201/' : app.request.schemeAndHttpHost %}
{% set merchantUrl = app_environment == 'dev' ? 'http://' ~ merchantDomain : merchantDomain  %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
</head>

<body style="width: 100% !important; min-width: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100% !important; margin: 0; padding: 0; background-color: #fff;">
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="min-width: 780px; max-width: 780px; border-top: 1px solid #000; border-left: 1px solid #000; border-right: 1px solid #000;">
    <tr>
        <td width="40%" style="vertical-align: top; border-bottom: 1px solid #000;">
            <table width="100%" cellpadding="0" cellspacing="0" border="0" style="margin: 0; padding: 0 10px;">
                <tr>
                    <td width="100%" style="text-align: left; font-size: 24px; font-weight: 600;">
                        <br />TicketChooser<br /><br />
                    </td>
                </tr>
            </table>
        </td>
        <td width="60%" style="vertical-align: top; border-bottom: 1px solid #000;">
            <table width="100%" cellpadding="0" cellspacing="0" border="0" style="margin: 0; padding: 0 10px;">
                <tr>
                    <td width="100%" style="text-align: right; font-size: 24px; font-weight: 600;">
                        <br />Здесь может быть ваша реклама
                    </td>
                </tr>
                <tr>
                    <td width="100%" style="text-align: right;">
                        <a href="{{ app.request.schemeAndHttpHost }}">{{ app.request.schemeAndHttpHost }}</a><br />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2" width="100%" style="vertical-align: top; border-bottom: 1px solid #000;">
            <table width="100%" cellpadding="0" cellspacing="0" border="0" style="margin: 0; padding: 10px;">
                <tr>
                    <td width="10%" style="text-align: left; padding-right: 10px;">
                        <img src="{{ imgHost ~ asset('bundles/ticketsticketchooser/images/musbot_logo.png') }}" alt="{{ merchantName }}" border="0" />
                    </td>
                    <td rowspan="2" width="60%" style="vertical-align: top; padding-left: 10px;">
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="margin: 0; padding: 0;">
                            <tr>
                                <td width="100%" style="text-align: left; font-size: 16px; font-weight: 600;">
                                    {{ merchantName }} - {% autoescape false %}{{ ticketType }}{% endautoescape %}
                                </td>
                            </tr>
                            <tr>
                                <td width="100%" style="text-align: left; font-size: 16px;">
                                    {{ ticketDescription }}
                                </td>
                            </tr>
                            <tr>
                                <td width="100%" style="text-align: left; font-size: 16px;">
                                    <br /><br /><br /><br /><br /><br /><br />
                                    {% autoescape false %}{{ merchantAddress }}{% endautoescape %}
                                </td>
                            </tr>
                            <tr>
                                <td width="100%" style="text-align: left; font-size: 16px;">
                                    +7 (812) 597-47-44
                                </td>
                            </tr>
                            <tr>
                                <td width="100%" style="text-align: left; font-size: 16px;">
                                    <a href="{{ merchantUrl }}">{{ merchantUrl }}</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td rowspan="2" width="30%" style="vertical-align: top; border-left: 2px dotted #000;">
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="margin: 0; padding: 0;">
                            <tr>
                                <td width="100%" style="text-align: right; font-size: 16px; font-weight: 600;">Контроль</td>
                            </tr>
                            <tr>
                                <td width="100%" style="text-align: center; font-size: 16px; font-weight: 600;">
                                    <br /><br />
                                    билет действителен:
                                </td>
                            </tr>
                            <tr>
                                <td width="100%" style="text-align: center; font-size: 16px;">
                                    с {{ validFrom|date('d.m.Y') }} по {{ validTo|date('d.m.Y') }}
                                </td>
                            </tr>
                            <tr>
                                <td width="100%" style="text-align: center; font-size: 16px;">
                                    <br /><br /><br />
                                    {{ "%012d"|format(orderId) }}
                                </td>
                            </tr>
                            <tr>
                                <td width="100%" style="text-align: center; font-size: 16px; font-weight: 600;">
                                    <br /><br /><br />
                                    Цена: {{ orderAmount }} руб.
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;">
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="margin: 0; padding: 0;">
                            <tr>
                                <td width="100%" style="text-align: left; font-size: 16px; font-weight: 600; padding-left: 15px;">
                                    <br /><br />
                                    время работы:
                                </td>
                            </tr>
                            <tr>
                                <td width="100%" style="text-align: right; font-size: 16px; padding-right: 15px;">
                                    пн - вс: 11 - 22
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2" width="100%" style="border-bottom: 1px solid #000;">
            <table width="100%" cellpadding="0" cellspacing="0" border="0" style="margin: 0; padding: 0;">
                <tr>
                    <td width="35%" style="padding: 0 10px; font-size: 16px; text-align: center; border-right: 1px solid #000;">
                        <br /><br /><br />
                        {% autoescape false %}{{ merchantHowToGet }}{% endautoescape %}
                        <br /><br /><br />
                    </td>
                    <td width="65%" style="padding: 0 10px; font-size: 16px; text-align: center;">
                        {% autoescape false %}
                            {{ merchantAddress }}<br />
                            {{ merchantName }} - {{ ticketType }} билет
                        {% endautoescape %}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>