<!DOCTYPE html "-//w3c//dtd xhtml 1.0 transitional //en" "http://www.w3.org/tr/xhtml1/dtd/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--[if gte mso 9]>
    <xml>
        <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml><![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">

    <title>Template Base</title>

</head>
<body style="width: 100% !important;min-width: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100% !important;margin: 0;padding: 0;background-color: #FFFFFF">
<style id="media-query">
    /*  Media Queries */
    @media only screen and (max-width: 740px) {
        .prova {
            width: 740px;
        }

        table[class="body"] img {
            width: 100% !important;
            height: auto !important;
        }

        table[class="body"] center {
            min-width: 0 !important;
        }

        table[class="body"] .container {
            width: 95% !important;
        }

        table[class="body"] .row {
            width: 100% !important;
            display: block !important;
        }

        table[class="body"] .wrapper {
            display: block !important;
            padding-right: 0 !important;
        }

        table[class="body"] .columns, table[class="body"] .column {
            table-layout: fixed !important;
            float: none !important;
            width: 100% !important;
            padding-right: 0px !important;
            padding-left: 0px !important;
            display: block !important;
        }

        table[class="body"] .wrapper.first .columns, table[class="body"] .wrapper.first .column {
            display: table !important;
        }

        table[class="body"] table.columns td, table[class="body"] table.column td {
            width: 100% !important;
        }

        table[class="body"] table.columns td.expander {
            width: 1px !important;
        }

        table[class="body"] .right-text-pad, table[class="body"] .text-pad-right {
            padding-left: 10px !important;
        }

        table[class="body"] .left-text-pad, table[class="body"] .text-pad-left {
            padding-right: 10px !important;
        }

        table[class="body"] .hide-for-small, table[class="body"] .show-for-desktop {
            display: none !important;
        }

        table[class="body"] .show-for-small, table[class="body"] .hide-for-desktop {
            display: inherit !important;
        }

        table[class="icon-table"] {
            width: 100% !important;
        }

        table[class="icon-table"] table {
            display: block !important;
            width: 100% !important;
        }

        table[class="icon-table"] table td {
            padding-bottom: 10px !important;
        }

        .mixed-two-up .col {
            width: 100% !important;
        }
    }

    @media screen and (max-width: 740px) {
        div[class="col"] {
            width: 100% !important;
        }
    }

    @media screen and (min-width: 741px) {
        table[class="block-grid"] {
            width: 740px !important;
        }
    }
</style>

<table class="body"
       style="border-spacing: 0;border-collapse: collapse;vertical-align: top;height: 100%;width: 100%;table-layout: fixed"
       cellpadding="0" cellspacing="0" width="100%" border="0">
    <tbody>
    <tr style="vertical-align: top">
        <td class="center"
            style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top;text-align: center;background-color: #FFFFFF"
            align="center" valign="top">

            <!--[if (gte mso 9)|(IE)]>
            <table width='740' class="ieCell" align="center" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td>
            <![endif]-->
            <table style="border-spacing: 0;border-collapse: collapse;vertical-align: top;background-color: transparent"
                   cellpadding="0" cellspacing="0" align="center" width="100%" border="0">
                <tbody>
                <tr style="vertical-align: top">
                    <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top"
                        width="100%">
                        <table class="container"
                               style="border-spacing: 0;border-collapse: collapse;vertical-align: top;max-width: 740px;margin: 0 auto;text-align: inherit"
                               cellpadding="0" cellspacing="0" align="center" width="100%" border="0">
                            <tbody>
                            <tr style="vertical-align: top">
                                <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top"
                                    width="100%">
                                    <table class="block-grid two-up"
                                           style="border-spacing: 0;border-collapse: collapse;vertical-align: top;width: 100%;max-width: 740px;color: #333;background-color: transparent"
                                           cellpadding="0" cellspacing="0" width="100%" bgcolor="transparent">
                                        <tbody>
                                        <tr style="vertical-align: top">
                                            <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top;text-align: center;font-size: 0">
                                                <!--[if (gte mso 9)|(IE)]>
                                                <table width="100%" align="center" cellpadding="0" cellspacing="0"
                                                       border="0">
                                                    <tr>
                                                        <td valign="top">
                                                <![endif]-->
                                                <div class="col num6"
                                                     style="display: inline-block;vertical-align: top;width: 370px;text-align: center">
                                                    <table style="border-spacing: 0;border-collapse: collapse;vertical-align: top"
                                                           cellpadding="0" cellspacing="0" align="center" width="100%"
                                                           border="0">
                                                        <tbody>
                                                        <tr style="vertical-align: top">
                                                            <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 5px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;border-top: 1px solid #D9D9D9;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 1px solid #D9D9D9">
                                                                <table style="border-spacing: 0;border-collapse: collapse;vertical-align: top"
                                                                       cellpadding="0" cellspacing="0" width="100%">
                                                                    <tbody>
                                                                    <tr style="vertical-align: top">
                                                                        <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top;padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px">
                                                                            <div style="color:#555555;line-height:120%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;">
                                                                                <div style="font-size: 12px; line-height: 14px;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align: left;line-height: 14px">
                                                                                    <br data-mce-bogus="1"></div>
                                                                                <div style="font-size: 12px; line-height: 14px;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align: left;line-height: 14px">
                                                                                    <span style="font-size:18px; line-height:22px;"><strong>TicketChooser</strong></span>
                                                                                </div>
                                                                                <div style="font-size: 12px; line-height: 14px;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align: left;line-height: 14px">
                                                                                    <br data-mce-bogus="1"></div>
                                                                                <div style="font-size: 18px; line-height: 21px;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align: left;line-height: 22px">
                                                                                    <p style="margin: 0;font-size: 18px;line-height: 22px">
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!--[if (gte mso 9)|(IE)]>
                                                </td>
                                                <td>
                                                <![endif]-->
                                                <div class="col num6"
                                                     style="display: inline-block;vertical-align: top;width: 370px;text-align: center">
                                                    <table style="border-spacing: 0;border-collapse: collapse;vertical-align: top"
                                                           cellpadding="0" cellspacing="0" align="center" width="100%"
                                                           border="0">
                                                        <tbody>
                                                        <tr style="vertical-align: top">
                                                            <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 5px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;border-top: 1px solid #D9D9D9;border-right: 1px solid #D9D9D9;border-bottom: 0px solid transparent;border-left: 0px solid #D9D9D9">
                                                                <table style="border-spacing: 0;border-collapse: collapse;vertical-align: top"
                                                                       cellpadding="0" cellspacing="0" width="100%">
                                                                    <tbody>
                                                                    <tr style="vertical-align: top">
                                                                        <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top;padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px">
                                                                            <div style="color:#555555;line-height:120%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;">
                                                                                <div style="text-align: right; font-size: 12px; line-height: 14px;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;line-height: 14px">
                                                                                    <span style="font-size:16px; line-height:19px;"><strong><br
                                                                                                    data-mce-bogus="1"></strong></span>
                                                                                </div>
                                                                                <div style="text-align: right; font-size: 12px; line-height: 14px;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;line-height: 14px">
                                                                                    <span style="font-size:16px; line-height:19px;"><strong>Здесь
                                                                                            может быть ваша
                                                                                            реклама</strong></span>
                                                                                </div>
                                                                                <div style="text-align: center; font-size: 12px; line-height: 14px;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;line-height: 14px">
                                                                                    <span style="font-size:14px; line-height:17px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; http://sitelink.ru</span>
                                                                                </div>
                                                                                <div style="font-size: 18px; line-height: 21px;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align: left;line-height: 22px">
                                                                                    <p style="margin: 0;font-size: 18px;line-height: 22px">
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!--[if (gte mso 9)|(IE)]>
                                                </td>
                                                <td>
                                                <![endif]-->
                                                <!--[if (gte mso 9)|(IE)]>
                                                </td>
                                                </tr>
                                                </table>
                                                <![endif]-->
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </table>
            <![endif]-->
            <!--[if (gte mso 9)|(IE)]>
            <table width='740' class="ieCell" align="center" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td>
            <![endif]-->
            <table style="border-spacing: 0;border-collapse: collapse;vertical-align: top;background-color: transparent"
                   cellpadding="0" cellspacing="0" align="center" width="100%" border="0">
                <tbody>
                <tr style="vertical-align: top">
                    <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top"
                        width="100%">
                        <table class="container"
                               style="border-spacing: 0;border-collapse: collapse;vertical-align: top;max-width: 740px;margin: 0 auto;text-align: inherit"
                               cellpadding="0" cellspacing="0" align="center" width="100%" border="0">
                            <tbody>
                            <tr style="vertical-align: top">
                                <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top"
                                    width="100%">
                                    <table class="block-grid three-up"
                                           style="border-spacing: 0;border-collapse: collapse;vertical-align: top;width: 100%;max-width: 740px;color: #000000;background-color: transparent"
                                           cellpadding="0" cellspacing="0" width="100%" bgcolor="transparent">
                                        <tbody>
                                        <tr style="vertical-align: top">
                                            <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top;text-align: center;font-size: 0">
                                                <!--[if (gte mso 9)|(IE)]>
                                                <table width="100%" align="center" cellpadding="0" cellspacing="0"
                                                       border="0">
                                                    <tr>
                                                        <td valign="top">
                                                <![endif]-->
                                                <div class="col num4"
                                                     style="display: inline-block;vertical-align: top;width: 246px;text-align: center">
                                                    <table style="border-spacing: 0;border-collapse: collapse;vertical-align: top"
                                                           cellpadding="0" cellspacing="0" align="center" width="100%"
                                                           border="0">
                                                        <tbody>
                                                        <tr style="vertical-align: top">
                                                            <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 5px;padding-right: 0px;padding-bottom: 5px;padding-left: 0px;border-top: 1px solid #D9D9D9;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 1px solid #D9D9D9">
                                                                <table style="border-spacing: 0;border-collapse: collapse;vertical-align: top"
                                                                       cellpadding="0" cellspacing="0" width="100%"
                                                                       border="0" align="left">
                                                                    <tbody>
                                                                    <tr style="vertical-align: top">
                                                                        <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top;width: 100%;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;text-align: left"
                                                                            align="left">
                                                                            <div style="max-width: 100%;" align="left">
                                                                                <a href="" target="_blank">
                                                                                    <img class="left"
                                                                                         style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;width: 100%;clear: both;display: block;border: none;height: auto;line-height: 100%;max-width: 154px"
                                                                                         border="0" width="100%"
                                                                                         align="left"
                                                                                         src="{{ app.request.schemeAndHttpHost ~ asset('bundles/ticketsticketchooser/images/musbot_logo.png') }}"
                                                                                         alt="{{ merchantName }}"
                                                                                         title="{{ merchantName }}">
                                                                                </a>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                                <table style="border-spacing: 0;border-collapse: collapse;vertical-align: top"
                                                                       cellpadding="0" cellspacing="0" width="100%">
                                                                    <tbody>
                                                                    <tr style="vertical-align: top">
                                                                        <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top;padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px">
                                                                            <div style="color:#555555;line-height:120%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;">
                                                                                <div style="font-size: 14px; line-height: 16px;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align: left;line-height: 17px">
                                                                                    <strong><br data-mce-bogus="1"></strong>
                                                                                </div>
                                                                                <div style="font-size: 14px; line-height: 16px; text-align: left;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;line-height: 17px">
                                                                                    <strong>время работы:</strong><br>
                                                                                </div>
                                                                                <div style="font-size: 14px; line-height: 16px; text-align: left;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;line-height: 17px">
                                                                                    <p style="margin: 0;font-size: 14px;line-height: 17px;text-align: left">
                                                                                        пн - вс: 11 - 22</p></div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!--[if (gte mso 9)|(IE)]>
                                                </td>
                                                <td>
                                                <![endif]-->
                                                <div class="col num4"
                                                     style="display: inline-block;vertical-align: top;width: 246px;text-align: center">
                                                    <table style="border-spacing: 0;border-collapse: collapse;vertical-align: top"
                                                           cellpadding="0" cellspacing="0" align="center" width="100%"
                                                           border="0">
                                                        <tbody>
                                                        <tr style="vertical-align: top">
                                                            <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 5px;padding-right: 0px;padding-bottom: 5px;padding-left: 0px;border-top: 1px solid #D9D9D9;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 0px solid transparent">
                                                                <table style="border-spacing: 0;border-collapse: collapse;vertical-align: top"
                                                                       cellpadding="0" cellspacing="0" width="100%">
                                                                    <tbody>
                                                                    <tr style="vertical-align: top">
                                                                        <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top;padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px">
                                                                            <div style="color:#555555;line-height:120%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;">
                                                                                <div style="font-size: 14px; line-height: 16px;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align: left;line-height: 17px">
                                                                                    <strong>{{ merchantName }}
                                                                                        - {{ ticketType }}</strong>
                                                                                    <br></div>
                                                                                <div style="font-size: 14px; line-height: 16px;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align: left;line-height: 17px">
                                                                                    <p style="margin: 0;font-size: 14px;line-height: 17px">{{ ticketDescription }}</p>
                                                                                </div>
                                                                                <div style="font-size: 14px; line-height: 16px;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align: left;line-height: 17px">
                                                                                    <br data-mce-bogus="1"></div>
                                                                                <div style="font-size: 14px; line-height: 16px;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align: left;line-height: 17px">
                                                                                    <br data-mce-bogus="1"></div>
                                                                                <div style="font-size: 14px; line-height: 16px;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align: left;line-height: 17px">
                                                                                    <br data-mce-bogus="1"></div>
                                                                                <div style="font-size: 14px; line-height: 16px;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align: left;line-height: 17px">
                                                                                    <p style="margin: 0;font-size: 14px;line-height: 17px">
                                                                                        Проспект Просвещения</p></div>
                                                                                <div style="font-size: 14px; line-height: 16px;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align: left;line-height: 17px">
                                                                                    <p style="margin: 0;font-size: 14px;line-height: 17px">
                                                                                        Санкт-Петербург, пос. Парголово,
                                                                                        ул. Ломоносова д.5</p></div>
                                                                                <div style="font-size: 14px; line-height: 16px;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align: left;line-height: 17px">
                                                                                    <p style="margin: 0;font-size: 14px;line-height: 17px">
                                                                                        +7 (812) 597-47-44</p>
                                                                                </div>
                                                                                <div style="font-size: 14px; line-height: 16px;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align: left;line-height: 17px">
                                                                                    <p style="margin: 0;font-size: 14px;line-height: 17px">
                                                                                        http://musbot.ru</p></div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!--[if (gte mso 9)|(IE)]>
                                                </td>
                                                <td>
                                                <![endif]-->
                                                <div class="col num4"
                                                     style="display: inline-block;vertical-align: top;width: 246px;text-align: center">
                                                    <table style="border-spacing: 0;border-collapse: collapse;vertical-align: top"
                                                           cellpadding="0" cellspacing="0" align="center" width="100%"
                                                           border="0">
                                                        <tbody>
                                                        <tr style="vertical-align: top">
                                                            <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 5px;padding-right: 0px;padding-bottom: 5px;padding-left: 0px;border-top: 1px solid #D9D9D9;border-right: 1px solid #D9D9D9;border-bottom: 0px solid transparent;border-left: 1px dotted #D9D9D9">
                                                                <table style="border-spacing: 0;border-collapse: collapse;vertical-align: top"
                                                                       cellpadding="0" cellspacing="0" width="100%">
                                                                    <tbody>
                                                                    <tr style="vertical-align: top">
                                                                        <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top;padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px">
                                                                            <div style="color:#555555;line-height:120%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;">
                                                                                <div style="font-size: 14px; line-height: 16px; text-align: right;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;line-height: 17px">
                                                                                    <span style="font-size:16px; line-height:19px;"><strong>Контроль</strong></span>
                                                                                    <br></div>
                                                                                <div style="font-size: 14px; line-height: 16px; text-align: right;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;line-height: 17px">
                                                                                    <span style="font-size:16px; line-height:19px;"><strong><br
                                                                                                    data-mce-bogus="1"></strong></span>
                                                                                </div>
                                                                                <div style="font-size: 14px; line-height: 16px; text-align: center;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;line-height: 17px">
                                                                                    <span style="font-size:14px; line-height:17px;"><strong><br
                                                                                                    data-mce-bogus="1"></strong></span>
                                                                                </div>
                                                                                <div style="font-size: 14px; line-height: 16px; text-align: center;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;line-height: 17px">
                                                                                    <span style="font-size:14px; line-height:17px;"><strong>билет
                                                                                            действителен::</strong></span>
                                                                                </div>
                                                                                <div style="font-size: 14px; line-height: 16px; text-align: center;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;line-height: 17px">
                                                                                    <span style="font-size:14px; line-height:17px;">с {{ validFrom|date('d.m.Y') }}
                                                                                        по {{ validTo|date('d.m.Y') }}</span>
                                                                                </div>
                                                                                <div style="font-size: 14px; line-height: 16px; text-align: center;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;line-height: 17px">
                                                                                    <span style="font-size:14px; line-height:17px;"><br
                                                                                                data-mce-bogus="1"></span>
                                                                                </div>
                                                                                <div style="font-size: 14px; line-height: 16px; text-align: center;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;line-height: 17px">
                                                                                    <span style="font-size:14px; line-height:17px;"><br
                                                                                                data-mce-bogus="1"></span>
                                                                                </div>
                                                                                <div style="font-size: 14px; line-height: 16px; text-align: center;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;line-height: 17px">
                                                                                    <span style="font-size:14px; line-height:17px;">{{ "%012d"|format(orderId) }}</span>
                                                                                </div>
                                                                                <div style="font-size: 14px; line-height: 16px; text-align: center;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;line-height: 17px">
                                                                                    <span style="font-size:14px; line-height:17px;"><br
                                                                                                data-mce-bogus="1"></span>
                                                                                </div>
                                                                                <div style="font-size: 14px; line-height: 16px; text-align: center;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;line-height: 17px">
                                                                                    <span style="font-size:14px; line-height:17px;"><br
                                                                                                data-mce-bogus="1"></span>
                                                                                </div>
                                                                                <div style="font-size: 14px; line-height: 16px; text-align: center;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;line-height: 17px"><span
                                                                                            style="font-size:14px; line-height:17px;">
                                                                                        <strong>Цена</strong>: {{ orderAmount }}
                                                                                        руб.</span></div>
                                                                                <div style="font-size: 14px; line-height: 16px; text-align: right;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;line-height: 17px">
                                                                                    <span style="font-size:14px; line-height:17px;"></span>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!--[if (gte mso 9)|(IE)]>
                                                </td>
                                                <td>
                                                <![endif]-->
                                                <!--[if (gte mso 9)|(IE)]>
                                                </td>
                                                </tr>
                                                </table>
                                                <![endif]-->
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </table>
            <![endif]-->
            <!--[if (gte mso 9)|(IE)]>
            <table width='740' class="ieCell" align="center" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td>
            <![endif]-->
            <table style="border-spacing: 0;border-collapse: collapse;vertical-align: top;background-color: transparent"
                   cellpadding="0" cellspacing="0" align="center" width="100%" border="0">
                <tbody>
                <tr style="vertical-align: top">
                    <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top"
                        width="100%">
                        <table class="container"
                               style="border-spacing: 0;border-collapse: collapse;vertical-align: top;max-width: 740px;margin: 0 auto;text-align: inherit"
                               cellpadding="0" cellspacing="0" align="center" width="100%" border="0">
                            <tbody>
                            <tr style="vertical-align: top">
                                <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top"
                                    width="100%">
                                    <table class="block-grid two-up"
                                           style="border-spacing: 0;border-collapse: collapse;vertical-align: top;width: 100%;max-width: 740px;color: #333;background-color: transparent"
                                           cellpadding="0" cellspacing="0" width="100%" bgcolor="transparent">
                                        <tbody>
                                        <tr style="vertical-align: top">
                                            <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top;text-align: center;font-size: 0">
                                                <!--[if (gte mso 9)|(IE)]>
                                                <table width="100%" align="center" cellpadding="0" cellspacing="0"
                                                       border="0">
                                                    <tr>
                                                        <td valign="top">
                                                <![endif]-->
                                                <div class="col num6"
                                                     style="display: inline-block;vertical-align: top;width: 370px;text-align: center">
                                                    <table style="border-spacing: 0;border-collapse: collapse;vertical-align: top"
                                                           cellpadding="0" cellspacing="0" align="center" width="100%"
                                                           border="0">
                                                        <tbody>
                                                        <tr style="vertical-align: top">
                                                            <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 0px;padding-right: 0px;padding-bottom: 5px;padding-left: 0px;border-top: 1px solid #D9D9D9;border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;border-left: 1px solid #D9D9D9">
                                                                <table style="border-spacing: 0;border-collapse: collapse;vertical-align: top"
                                                                       cellpadding="0" cellspacing="0" width="100%">
                                                                    <tbody>
                                                                    <tr style="vertical-align: top">
                                                                        <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top;padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px">
                                                                            <div style="color:#555555;line-height:120%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;">
                                                                                <div style="text-align: center; font-size: 12px; line-height: 14px;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;line-height: 14px">
                                                                                    <span style="font-size:14px; line-height:17px;"><br
                                                                                                data-mce-bogus="1"></span>
                                                                                </div>
                                                                                <div style="text-align: center; font-size: 12px; line-height: 14px;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;line-height: 14px">
                                                                                    <span style="font-size:14px; line-height:17px;"><br
                                                                                                data-mce-bogus="1"></span>
                                                                                </div>
                                                                                <div style="text-align: center; font-size: 12px; line-height: 14px;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;line-height: 14px">
                                                                                    <span style="font-size:14px; line-height:17px;">От станции метро Проспект Просвящения двигаться по Выборгскому шоссе в сторону области</span>
                                                                                </div>
                                                                                <div style="text-align: center; font-size: 12px; line-height: 14px;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;line-height: 14px">
                                                                                    <span style="font-size:14px; line-height:17px;"><br
                                                                                                data-mce-bogus="1"></span>
                                                                                </div>
                                                                                <div style="text-align: center; font-size: 12px; line-height: 14px;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;line-height: 14px">
                                                                                    <span style="font-size:14px; line-height:17px;"><br
                                                                                                data-mce-bogus="1"></span>
                                                                                </div>
                                                                                <div style="font-size: 18px; line-height: 21px;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align: left;line-height: 22px">
                                                                                    <p style="margin: 0;font-size: 18px;line-height: 22px">
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!--[if (gte mso 9)|(IE)]>
                                                </td>
                                                <td>
                                                <![endif]-->
                                                <div class="col num6"
                                                     style="display: inline-block;vertical-align: top;width: 370px;text-align: center">
                                                    <table style="border-spacing: 0;border-collapse: collapse;vertical-align: top"
                                                           cellpadding="0" cellspacing="0" align="center" width="100%"
                                                           border="0">
                                                        <tbody>
                                                        <tr style="vertical-align: top">
                                                            <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 0px;padding-right: 0px;padding-bottom: 5px;padding-left: 0px;border-top: 1px solid #D9D9D9;border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;border-left: 0px solid transparent">
                                                                <table style="border-spacing: 0;border-collapse: collapse;vertical-align: top"
                                                                       cellpadding="0" cellspacing="0" width="100%">
                                                                    <tbody>
                                                                    <tr style="vertical-align: top">
                                                                        <td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top;padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px">
                                                                            <div style="color:#555555;line-height:120%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;">
                                                                                <div style="text-align: center; font-size: 12px; line-height: 14px;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;line-height: 14px">
                                                                                    <span style="font-size:14px; line-height:17px;"><br
                                                                                                data-mce-bogus="1"></span>
                                                                                </div>
                                                                                <div style="text-align: center; font-size: 12px; line-height: 14px;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;line-height: 14px">
                                                                                    <span style="font-size:14px; line-height:17px;"><br
                                                                                                data-mce-bogus="1"></span>
                                                                                </div>
                                                                                <div style="font-size: 12px; line-height: 14px; text-align: center;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;line-height: 14px">
                                                                                    <span style="font-size:14px; line-height:17px;">пос. Парголово, ул. Ломоносова д.5 <br/> {{ merchantName }}
                                                                                        - {{ ticketType }}</span>
                                                                                </div>
                                                                                <div style="font-size: 12px; line-height: 14px; text-align: center;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;line-height: 14px">
                                                                                    &nbsp;<br></div>
                                                                                <div style="font-size: 12px; line-height: 14px; text-align: center;color: #555555;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;line-height: 20px">
                                                                                    &nbsp;<br></div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!--[if (gte mso 9)|(IE)]>
                                                </td>
                                                <td>
                                                <![endif]-->
                                                <!--[if (gte mso 9)|(IE)]>
                                                </td>
                                                </tr>
                                                </table>
                                                <![endif]-->
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </table>
            <![endif]-->
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>