{% extends '@TicketsTicketChooser/Default/ticket_chooser_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/ticketsticketchooser/css/vendor/prettify.css') }}" />
    <link href="{{ app.request.getSchemeAndHttpHost() }}/bundles/ticketsticketchooser/css/ticket-chooser.css" rel="stylesheet" media="screen" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/ticketsticketchooser/js/vendor/prettify.js') }}" type="text/javascript"></script>
    <script src="{{ path('ticket_chooser_js_api', {'key': '6071610be7c9905d9d80f7c0dccb039c' }) }}" type="text/javascript"></script>

    <script type="text/javascript">
        !function($) {
            $(function() { window.prettyPrint && prettyPrint() });
        }(window.jQuery);

        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('native-javascript-example-button').addEventListener('click', function() { TicketChooser.open({}); });

            var prettyCodePlnText = document.querySelector('#native-javascript-example-container ol.linenums li.L0 span.pln').innerHTML;
            [].forEach.call(document.querySelectorAll('#native-javascript-example-container ol.linenums span.pln'),
                function (pln) {
                    pln.innerHTML = pln.innerHTML.replace(prettyCodePlnText, '');
                }
            );

            prettyCodePlnText = document.querySelector('#jquery-example-container ol.linenums li.L0 span.pln').innerHTML;
            [].forEach.call(document.querySelectorAll('#jquery-example-container ol.linenums span.pln'),
                function (pln) {
                    pln.innerHTML = pln.innerHTML.replace(prettyCodePlnText, '');
                }
            );
        });

        $(document).ready(
            function() {
                $('#jquery-example-button').on('click', function() { TicketChooser.open({}); });
            }
        );
    </script>
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Примеры использования JavaScript API:</h3>

            <div class="panel panel-info" style="margin-top: 15px;">
                <div class="panel-heading">Native Javascript</div>
                <div class="panel-body">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button class="btn btn-primary btn-lg" id="native-javascript-example-button">Нажми на меня</button>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px;" id="native-javascript-example-container">
                        <pre class="prettyprint linenums">
                            &lt;html&gt;
                                &lt;head&gt;
                                    &lt;link href="http://185.94.64.40/bundles/ticketsticketchooser/css/ticket-chooser.css" rel="stylesheet" media="screen" /&gt;
                                &lt;/head&gt;

                                &lt;body&gt;
                                    &lt;button class="btn btn-primary btn-lg" id="native-javascript-example-button"&gt;Нажми на меня&lt;/button&gt;

                                    &lt;script src="http://185.94.64.40/api/v1/ticket-chooser/js/6071610be7c9905d9d80f7c0dccb039c" type="text/javascript"&gt;&lt;/script&gt;
                                    &lt;script type="text/javascript"&gt;
                                        document.addEventListener('DOMContentLoaded', function() {
                                            document.getElementById('native-javascript-example-button').addEventListener('click', function() { TicketChooser.open({}); });
                                        });
                                    &lt;/script&gt;
                                &lt;/body&gt;
                            &lt;/html&gt;
                        </pre>
                    </div>
                </div>
            </div>

            <div class="panel panel-info" style="margin-top: 15px;">
                <div class="panel-heading">jQuery</div>
                <div class="panel-body">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button class="btn btn-primary btn-lg" id="jquery-example-button">Нажми на меня</button>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px;" id="jquery-example-container">
                        <pre class="prettyprint linenums">
                            &lt;html&gt;
                                &lt;head&gt;
                                    &lt;link href="http://185.94.64.40/bundles/ticketsticketchooser/css/ticket-chooser.css" rel="stylesheet" media="screen" /&gt;
                                &lt;/head&gt;

                                &lt;body&gt;
                                    &lt;button class="btn btn-primary btn-lg" id="native-javascript-example-button"&gt;Нажми на меня&lt;/button&gt;

                                    &lt;script src="http://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"&gt;&lt;/script&gt;
                                    &lt;script src="http://185.94.64.40/api/v1/ticket-chooser/js/6071610be7c9905d9d80f7c0dccb039c" type="text/javascript"&gt;&lt;/script&gt;
                                    &lt;script type="text/javascript"&gt;
                                        $(document).ready(
                                            function() {
                                                $('#jquery-example-button').on('click', function() { TicketChooser.open({}); });
                                            }
                                        );
                                    &lt;/script&gt;
                                &lt;/body&gt;
                            &lt;/html&gt;
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
