{% extends '@TicketsTicketChooser/Default/ticket_chooser_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% if merchantApiKey is not null  %}
        <link href="{{ app.request.getSchemeAndHttpHost() }}/bundles/ticketsticketchooser/css/ticket-chooser.css" rel="stylesheet" media="screen" />
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if merchantApiKey is not null  %}
        <script src="{{ path('ticket_chooser_js_api', {'key': merchantApiKey }) }}" type="text/javascript"></script>

        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function() {
                document.getElementById('native-javascript-example-button').addEventListener('click',
                    function () {
                        TicketChooser.open({});
                    }
                );
            });
        </script>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% if merchantNotFound is defined and merchantNotFound == true %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    Мерчант с указанным API ключем не найден.
                </div>
            {% endif %}

            <h3>Инструкция:</h3>
            <p style="font-weight: bold;">Для того чтобы протестировать ваш мерчант следуйте шагам данной инструкции.</p>
            <ul>
                <li>Введите в поле "Ключ доступа к API" ключ выданный вам при подключение.</li>
                <li>Нажмите кнопку "Сгенерировать форму".</li>
                <li>После обновления страницы на ней появится кнопка "Протестировать мерчант",
                    нажав на которую вы сможете вызвать форму сгенерированную по вашим данным.</li>
            </ul>

            <div class="panel panel-info">
                <div class="panel-heading">Введите ключ доступа к API</div>
                <div class="panel-body">
                    {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_label(form.accessToken) }}
                            {{ form_widget(form.accessToken) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(form.button) }}
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>

            {% if merchantApiKey is not null  %}
                <div class="panel panel-success">
                    <div class="panel-heading">Форма выбора билета для вашего мерчанта</div>
                    <div class="panel-body">
                        <button class="btn btn-success btn-lg" id="native-javascript-example-button">Протестировать мерчант</button>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}