<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="описание сайта">
    <meta name="keywords" content="ключевые слова сайта">
    <meta name="author" content="автор сервиса">

    <title>TicketChooser{% block title %}{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {% block stylesheets %}
        {% stylesheets filter='cssrewrite'
            'bundles/ticketsticketchooser/css/vendor/bootstrap.css'
            'bundles/ticketsticketchooser/css/vendor/simple-sidebar.css'
            'bundles/ticketsticketchooser/css/style.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
</head>

<body>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="{{ path('index_action') }}">TicketChooser</a>
                </li>
                <li>
                    <a href="{{ path('example_action') }}">Примеры использования</a>
                </li>
                <li>
                    <a href="{{ path('merchant_test_action') }}">Протестировать мерчант</a>
                </li>
                <li>
                    <a href="{{ path('sonata_admin_redirect') }}">Панель управления</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">{% block content %}{% endblock %}</div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    {% block javascripts %}
        {% javascripts
            '@TicketsTicketChooserBundle/Resources/public/js/vendor/jquery-2.1.4.min.js'
            '@TicketsTicketChooserBundle/Resources/public/js/script.js'
        %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
    {% endblock %}
</body>

</html>