{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% set choseTickets = object.chooseTickets|json_decode() %}

    <div style="font-weight: 600; text-decoration: underline; margin-bottom: 10px;">Билеты</div>
    <ul>
    {% for ticket in choseTickets %}
        {% if ticket['count'] is defined and ticket['amt'] is defined %}
            {% set ticketObject = ticletModel.ticketNameBy((ticket['amt']/ticket['count']), object.getChooseTicketType()) %}
            {% if ticketObject is defined and ticketObject is not null %}
                <li>{{ ticketObject.getName() }} - {{ ticket['count'] }} шт. - на сумму: {{ ticket['amt'] }} руб.</li>
            {% endif %}
        {% endif %}
    {% endfor %}
    </ul>

    {% if choseTickets['additionalAmounts'] is defined and choseTickets['additionalAmounts'] is not null %}
        <div style="font-weight: 600; text-decoration: underline; margin-bottom: 10px;">Дополнительно</div>
        <ul>
            {% for item in choseTickets['additionalAmounts'] %}
                <li>{{ item['title'] }} - на сумму: {{ item['price'] }} руб.</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}