{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% set stateDescription = object.getStateDescription() %}

{% block javascripts %}dfdfd{% endblock %}

{% block field %}
    <div>
        {% if stateDescription[object.state] is defined %}
            {{ stateDescription[object.state] }}
        {% else %}
            Не известный статус
        {% endif %}
    </div>
{% endblock %}