<form action="{{ createBillAction }}" method="{{ createBillMethod }}" id="create-bill-form" name="createBillForm">
    {% for parameterKey, parameterValue in parameters %}
        <input type="hidden" name="{{ parameterKey }}" value="{{ parameterValue }}" />
    {% endfor %}
    <input type="hidden" name="signature" value="{{ signature }}" />
</form>