<?xml version="1.0" encoding="UTF-8"?>
<result>
    {% if orderId is defined and orderId is not null %}
        <id>{{ orderId }}</id>
    {% endif %}
    <code>{{ status == false ? 'NO' : 'YES' }}</code>
    <comment>{{ comment }}</comment>
</result>