{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
        {% if field_description.options.aggregators is defined %}
            {% if object.aggregatorHandlerImplementation is defined and object.aggregatorHandlerImplementation|length > 0 %}
                {{ field_description.options.aggregators[object.aggregatorHandlerImplementation] }}
            {% else %}
                &nbsp;
            {% endif %}
        {% endif %}
    </div>
{% endblock %}