@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Montserrat:700|Merriweather:400italic');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

#ticket-chooser #overlay {
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, .8);
}

#ticket-chooser #overlay #container {
    margin: 100px auto;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #000;
    height: 50px;
    padding: 0;
    text-align: center;
}

#ticket-chooser #overlay #container .close {
    background-color: rgba(234, 147, 52, 1);
    opacity: 1;
    color: #000;
    line-height: 35px;
    position: relative;
    right: -45px;
    top: 0;
    text-align: center;
    width: 34px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#ticket-chooser #overlay #container .close:hover {
    background: rgba(234, 147, 52, .8);
}

/**************************************************************************/

#ticket-chooser #overlay #container .order-container {
    min-height: 200px;
    max-height: 900px;
    top: -35px;
    padding: 0;
    background-color: #fff;
}

#ticket-chooser #overlay #container .order-container .order-form-section.title {
    margin-top: 5px;
    color: #ea9334;
    font-size: 18px;
    font-weight: 600;
}

#ticket-chooser #overlay #container .order-container .order-form-section.description {
    margin: 7px 0 0 0;
    color: #000;
    font-weight: 400;
    font-size: 12px;
}

#ticket-chooser #overlay #container .upper {
    text-transform: uppercase;
}

#ticket-chooser #overlay #container .order-tab {
    background-color: #44697c;
    color: #fff;
    font-weight: 500;
    text-align: left;
    padding: 0;
    min-height: 50px;
}

#ticket-chooser #overlay #container .border-right-white {
    border-right: 1px solid #fff;
}

#ticket-chooser #overlay #container .border-right-black-dotted {
    border-right: 1px dotted #000;
}

#ticket-chooser #overlay #container .border-bottom-black-dotted {
    border-bottom: 1px dotted #000;
}

#ticket-chooser #overlay #container .order-tab .line {
    background-color: #44697c;
    height: 3px;
}

#ticket-chooser #overlay #container .order-tab .title {
    padding: 10px 15px;
}

#ticket-chooser #overlay #container .order-tab.active {
    background-color: #fff;
    color: #42575c;
}

#ticket-chooser #overlay #container .order-tab.active .line {
    background-color: #ea9334;
}

#ticket-chooser #overlay #container .ticket-section, .ticket-vertical-section {
    margin-top: 20px;
    padding: 0 0 25px 0;
    color: #42575c;
    font-size: 16px;
}

.ticket-vertical-section.margin-top-5 {
    margin-top: 5px;
}

#ticket-chooser #overlay #container .ticket-section .icon {
    padding: 0;
    color: #ea9334;
}

#ticket-chooser #overlay #container .ticket-section .ticket-name, .ticket-vertical-section .ticket-name {
    padding: 0;
    text-transform: uppercase;
    font-weight: 600;
}

#ticket-chooser #overlay #container .lower {
    text-transform: lowercase;
}

#ticket-chooser #overlay #container .amt {
    font-size: 20px;
    font-weight: 600;
}

#ticket-chooser #overlay #container .ticket-vertical-section {
    text-align: center;
}

#ticket-chooser #overlay #container .ticket-vertical-section .ticket-price, .total-section .total span.total-price {
    color: #ea9334;
    font-weight: 400;
}

#ticket-chooser #overlay #container .ticket-vertical-section .ticket-count {
    margin-top: 15px;
    font-size: 14px;
    font-weight: 400;
}

#ticket-chooser #overlay #container .ticket-vertical-section .counter {
    margin-top: 7px;
}

#ticket-chooser #overlay #container .ticket-vertical-section .counter .order-button-count {
    padding: 3px 0 0 0;
}

#ticket-chooser #overlay #container .ticket-vertical-section .counter .number {
    font-size: 22px;
    font-weight: 600;
}

#ticket-chooser #overlay #container .right-align {
    text-align: right;
}

#ticket-chooser #overlay #container .left-align {
    text-align: left;
}

#ticket-chooser #overlay #container .center-align {
    text-align: center;
}

#ticket-chooser #overlay #container .ticket-section .ticket-description {
    padding: 0;
    font-size: 12px;
}

#ticket-chooser #overlay #container .order-container .step {
    padding: 0 25px;
    display: none;
}

#ticket-chooser #overlay #container .order-container .step.active {
    display: block;
}

#ticket-chooser #overlay #container .order-container .ticket-count {
    padding: 0;
}

#ticket-chooser #overlay #container .order-container .order-button-count .btn {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    outline: none !important;
    width: 22px;
    height: 22px;
}

#ticket-chooser #overlay #container .total-section {
    padding: 15px 0 0 0;
}

#ticket-chooser #overlay #container .total-section .text {
    color: #000;
    font-weight: 400;
}

#ticket-chooser #overlay #container .total-section .text i {
    color: #9a9a9a;
    font-size: 20px;
}

#ticket-chooser #overlay #container .total-section .total {
    padding: 0;
    text-transform: uppercase;
    color: #42575c;
    font-size: 16px;
    font-weight: 600;
}

#ticket-chooser #overlay #container .total-section .total span.total-price {
    font-size: 16px;
}

#ticket-chooser #overlay #container .order-container .btn-next {
    margin-top: 15px;
}

#ticket-chooser #overlay #container .order-container .btn-next button {
    width: 160px;
}

#ticket-chooser #overlay #container .ticket-vertical-section .payment-method-name {
    padding: 0;
    font-size: 13px;
    font-weight: 400;
}

#ticket-chooser #overlay #container .ticket-vertical-section .payment-method-name input[type=radio] {
    margin-top: 2px;
}

#ticket-chooser #overlay #container .ticket-vertical-section .payment-method-logo {
    padding: 0 5px;
    text-align: center;
    cursor: pointer;
    height: 42px;
}

#ticket-chooser #overlay #container .ticket-vertical-section .payment-method-logo:hover img {
    border: 3px solid #ea9334;
    border-radius: 12px;
}

#ticket-chooser #overlay #container .ticket-vertical-section .payment-method-logo img {
    border: none;
}

#ticket-chooser #overlay #container .order-form-section.total-end-price {
    /*line-height: 35px;*/
    background-color: #44697c;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}

#ticket-chooser #overlay #container .offer {
    text-align: center;
    font-size: 12px;
}

#ticket-chooser #overlay #container .offer a,
#ticket-chooser #overlay #container .offer a:focus,
#ticket-chooser #overlay #container .offer a:hover,
#ticket-chooser #overlay #container .offer a:visited {
    color: #ea9334;
}

#ticket-chooser #overlay #container .order-form-section .age-limit {
    width: 50px;
    height: 50px;
    padding: 0;
    border: 2px solid #44697c;
    color: #44697c;
    font-size: 16px;
    font-weight: 400;
    line-height: 44px;
    border-radius: 49%;
    vertical-align: middle;
    text-align: center;
    float: left;
    margin: 10px 0 25px 0;
}

#ticket-chooser #overlay #container .do-payment-btn-section {
    padding-top: 10px;
    padding-bottom: 30px;
}

#ticket-chooser #overlay #container .do-payment-btn-section .btn-next {
    text-align: center;
}

#ticket-chooser #overlay #container div.description .form-control-feedback {
    right: 30px;
}

#ticket-chooser #overlay #container div.description .help-block {
    color: #a94442;
    font-size: 10px;
    font-style: italic;
    margin-bottom: 0;
}

#ticket-chooser #overlay #container .tab-pointer {
    cursor: pointer;
}

/******************************** tooltip ********************************/
#ticket-chooser #overlay #container [data-tooltip], #ticket-chooser #overlay #container .tooltip {
    position: relative;
    cursor: help;
    text-transform: none;
    font-weight: normal;
}

#ticket-chooser #overlay #container [data-tooltip]:before,
#ticket-chooser #overlay #container [data-tooltip]:after,
#ticket-chooser #overlay #container .tooltip:before,
#ticket-chooser #overlay #container .tooltip:after {
    position: absolute;
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition:
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition:
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    pointer-events: none;
}

#ticket-chooser #overlay #container [data-tooltip]:hover:before,
#ticket-chooser #overlay #container [data-tooltip]:hover:after,
#ticket-chooser #overlay #container [data-tooltip]:focus:before,
#ticket-chooser #overlay #container [data-tooltip]:focus:after,
#ticket-chooser #overlay #container .tooltip:hover:before,
#ticket-chooser #overlay #container .tooltip:hover:after,
#ticket-chooser #overlay #container .tooltip:focus:before,
#ticket-chooser #overlay #container .tooltip:focus:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

#ticket-chooser #overlay #container .tooltip:before,
#ticket-chooser #overlay #container [data-tooltip]:before {
    z-index: 1035;
    border: 6px solid transparent;
    background: transparent;
    content: "";
}

#ticket-chooser #overlay #container .tooltip:after,
#ticket-chooser #overlay #container [data-tooltip]:after {
    z-index: 1034;
    padding: 8px;
    min-width: 160px;
    max-width: 320px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    font-size: 14px;
    line-height: 1.2;
    border-radius: 6px;
}

#ticket-chooser #overlay #container div.btn-next .tooltip:after,
#ticket-chooser #overlay #container div.btn-next [data-tooltip]:after {
    padding: 8px;
    min-width: 390px;
    max-width: 390px;
    background-color: #ff0000;
    color: #fff;
    content: attr(data-tooltip);
    font-size: 14px;
    line-height: 1.2;
    border-radius: 6px;
}

#ticket-chooser #overlay #container [data-tooltip]:before,
#ticket-chooser #overlay #container [data-tooltip]:after,
#ticket-chooser #overlay #container .tooltip:before,
#ticket-chooser #overlay #container .tooltip:after,
#ticket-chooser #overlay #container .tooltip-top:before,
#ticket-chooser #overlay #container .tooltip-top:after {
    bottom: 100%;
    left: 50%;
}

#ticket-chooser #overlay #container [data-tooltip]:before,
#ticket-chooser #overlay #container .tooltip:before,
#ticket-chooser #overlay #container .tooltip-top:before {
    margin-left: -6px;
    margin-bottom: -12px;
    border-top-color: #000;
    border-top-color: hsla(0, 0%, 20%, 0.9);
}

#ticket-chooser #overlay #container [data-tooltip]:after,
#ticket-chooser #overlay #container .tooltip:after,
#ticket-chooser #overlay #container .tooltip-top:after {
    margin-left: -80px;
}

#ticket-chooser #overlay #container [data-tooltip]:hover:before,
#ticket-chooser #overlay #container [data-tooltip]:hover:after,
#ticket-chooser #overlay #container [data-tooltip]:focus:before,
#ticket-chooser #overlay #container [data-tooltip]:focus:after,
#ticket-chooser #overlay #container .tooltip:hover:before,
#ticket-chooser #overlay #container .tooltip:hover:after,
#ticket-chooser #overlay #container .tooltip:focus:before,
#ticket-chooser #overlay #container .tooltip:focus:after,
#ticket-chooser #overlay #container .tooltip-top:hover:before,
#ticket-chooser #overlay #container .tooltip-top:hover:after,
#ticket-chooser #overlay #container .tooltip-top:focus:before,
#ticket-chooser #overlay #container .tooltip-top:focus:after {
    -webkit-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    transform: translateY(-12px);
}

#ticket-chooser #overlay #container .tooltip-left:before,
#ticket-chooser #overlay #container .tooltip-left:after {
    right: 100%;
    bottom: 50%;
    left: auto;
}

#ticket-chooser #overlay #container .tooltip-left:before {
    margin-left: 0;
    margin-right: -12px;
    margin-bottom: 0;
    border-top-color: transparent;
    border-left-color: #000;
    border-left-color: hsla(0, 0%, 20%, 0.9);
}

#ticket-chooser #overlay #container .tooltip-left:hover:before,
#ticket-chooser #overlay #container .tooltip-left:hover:after,
#ticket-chooser #overlay #container .tooltip-left:focus:before,
#ticket-chooser #overlay #container .tooltip-left:focus:after {
    -webkit-transform: translateX(-12px);
    -ms-transform: translateX(-12px);
    transform: translateX(-12px);
}

#ticket-chooser #overlay #container .tooltip-bottom:before,
#ticket-chooser #overlay #container .tooltip-bottom:after {
    top: 100%;
    bottom: auto;
    left: 50%;
}

#ticket-chooser #overlay #container .tooltip-bottom:before {
    margin-top: -12px;
    margin-bottom: 0;
    border-top-color: transparent;
    border-bottom-color: #000;
    border-bottom-color: hsla(0, 0%, 20%, 0.9);
}

#ticket-chooser #overlay #container .tooltip-bottom:hover:before,
#ticket-chooser #overlay #container .tooltip-bottom:hover:after,
#ticket-chooser #overlay #container .tooltip-bottom:focus:before,
#ticket-chooser #overlay #container .tooltip-bottom:focus:after {
    -webkit-transform: translateY(12px);
    -ms-transform: translateY(12px);
    transform: translateY(12px);
}


#ticket-chooser #overlay #container .tooltip-right:before,
#ticket-chooser #overlay #container .tooltip-right:after {
    bottom: 50%;
    left: 100%;
}

#ticket-chooser #overlay #container .tooltip-right:before {
    margin-bottom: 0;
    margin-left: -12px;
    border-top-color: transparent;
    border-right-color: #000;
    border-right-color: hsla(0, 0%, 20%, 0.9);
}

#ticket-chooser #overlay #container div.btn-next .tooltip-right:before {
    border-right-color: #ff0000;
}

#ticket-chooser #overlay #container .tooltip-right:hover:before,
#ticket-chooser #overlay #container .tooltip-right:hover:after,
#ticket-chooser #overlay #container .tooltip-right:focus:before,
#ticket-chooser #overlay #container .tooltip-right:focus:after {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}

#ticket-chooser #overlay #container .tooltip-left:before,
#ticket-chooser #overlay #container .tooltip-right:before {
    top: 6px;
}

#ticket-chooser #overlay #container .tooltip-left:after,
#ticket-chooser #overlay #container .tooltip-right:after {
    margin-left: 0;
    margin-bottom: -16px;
}

/******************************* CHECKBOX STYLE *******************************/
#ticket-chooser #overlay #container label {
    display: inline;
}

#ticket-chooser #overlay #container .regular-checkbox {
    display: none;
}

#ticket-chooser #overlay #container .regular-checkbox + label {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0 -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
    margin-left: -61%;
}

#ticket-chooser #overlay #container .regular-checkbox + label:active,
#ticket-chooser #overlay #container .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0 1px 3px rgba(0, 0, 0, .1);
}

#ticket-chooser #overlay #container .regular-checkbox:checked + label {
	background-color: #ffffff;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #ffa500;
}

#ticket-chooser #overlay #container .regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: -4px;
	left: 3px;
	color: #ffa500;
}


#ticket-chooser #overlay #container .big-checkbox + label {
	padding: 14px;
}

#ticket-chooser #overlay #container .big-checkbox:checked + label:after {
	font-size: 24px;
	left: 6px;
}

#ticket-chooser #overlay #container .radio-1 {
	width: 193px;
}

#ticket-chooser #overlay #container .button-holder {
	float: left;
}

#ticket-chooser #overlay #container .tag {
    position: relative;
    top: 5px;
    right: 59%;
    font-weight: bold;
    display: block;
    float: right;
    color: #42575c;
}
