{% for field_description in admin.list.elements %}
    {% if field_description.name == '_action' and app.request.isXmlHttpRequest %}
    {% elseif field_description.getOption('ajax_hidden') == true and app.request.isXmlHttpRequest %}
    {% else %}
        {{ object|render_list_element(field_description) }}
    {% endif %}
{% endfor %}