var TicketChooser = (
    function(windowObject, documentObject) {
        var options = {
            overlay: {
                zIndex: 1033
            },
            containerCss: {
                width: '50%',
                marginTop: '25px',
                color: '#fff',
                zIndex: 1034
            },
            exit: {
                clickToOverlay: true,
                escKey: true
            }
        };

        {% autoescape false %}
        var appConfig = {
            merchant: {
                name: '{{ merchantJsApiData['merchant']['name'] }}',
                promo: '{{ merchantJsApiData['merchant']['promo'] }}',
                merchantId: '{{ merchantJsApiData['merchant']['merchantId'] }}',
                offer: '',
                periodDescription: '{{ merchantJsApiData['merchant']['periodsDescription'] }}',
                ageLimit: '{{ merchantJsApiData['merchant']['ageLimit'] }}',
                periods: {
                    {% for periodKey, period in merchantJsApiData['periods'] %}
                        {{ periodKey }}: '{{ period['name'] }}'{% if loop.last == false %},{% endif %}
                    {% endfor %}
                },
                chosenType: {{ merchantJsApiData['merchant']['chosenType'] is not null ? merchantJsApiData['merchant']['chosenType'] : 'null' }}
            },
            tickets: {
                {% for ticketTypeKey, ticketType in merchantJsApiData['ticketTypes'] %}
                    {{ ticketTypeKey }}: {
                        typeName: '{{ ticketType['name'] }}',
                        typeDescription: '{{ ticketType['description'] }}',
                        tickets: {
                            {% for ticketKey, ticket in ticketType['tickets'] %}
                                {{ ticketKey }}: {
                                    ticketName: '{{ ticket['name'] }}',
                                    ticketPrice: {{ ticket['price'] }},
                                    ticketTooltip: {% if ticket['tooltip'] is null %} null {% else %}'{{ ticket['tooltip'] }}'{% endif %}
                                }{% if loop.last == false %},{% endif %}
                            {% endfor %}
                        }
                    }{% if loop.last == false %},{% endif %}
                {% endfor %},
            },
            additionalTicketsPrice: [
                { title: "Экскурсия (от 1 до 20 чел)", price: +1000.00 }
            ]
        };

        var paymentMethodsConfig = {
            0: {
                id: 624,
                name: 'Банковская карта',
                logo: '{{ asset('bundles/ticketsticketchooser/images/bankcard.png', null, true) }}'
            },
            1: {
                id: 14,
                name: 'QIWI-кошелек',
                logo: '{{ asset('bundles/ticketsticketchooser/images/qiwi.png', null, true) }}'
            },
            2: {
                id: 470,
                name: 'Яндекс.Деньги',
                logo: '{{ asset('bundles/ticketsticketchooser/images/yandex.png', null, true) }}'
            },
            3: {
                id: 546,
                name: 'WebMoney',
                logo: '{{ asset('bundles/ticketsticketchooser/images/webmoney.png', null, true) }}'
            }
        };
        {% endautoescape %}

        var tabsConfig = {
            0: {
                tabClasses: 'order-tab border-right-white',
                lineClasses: 'col-lg-12 col-md-12 col-sm-12 col-xs-12 line',
                titleClasses: 'col-lg-12 col-md-12 col-sm-12 col-xs-12 title',
                titleText: 'Выбор типа билета'
            },
            1: {
                tabClasses: 'order-tab border-right-white',
                lineClasses: 'col-lg-12 col-md-12 col-sm-12 col-xs-12 line',
                titleClasses: 'col-lg-12 col-md-12 col-sm-12 col-xs-12 title',
                titleText: 'Выбор билета'
            },
            2: {
                tabClasses: 'order-tab',
                lineClasses: 'col-lg-12 col-md-12 col-sm-12 col-xs-12 line',
                titleClasses: 'col-lg-12 col-md-12 col-sm-12 col-xs-12 title',
                titleText: 'Выбор способа оплаты'
            }
        };

        var overlayObject = null;
        var containerObject = null;

        var closeButtonObject = null;

        var tabsObjects = null, stepsObjects = null, orderContainerObject = null, stepObject = null, stepCounter = 0, totalOrderAmount = 0;
        var ticketsObjects = [];

        var choosedTicketType, choosedTickets = {};

        var classes = '';

        var _private = {
            init: function(customOptions) {
                this.merge(customOptions).built().buildTicketsForm().check().binds();

                if (typeof appConfig['merchant']['chosenType'] == 'number') {
                    this.showTicketsByType({ target: this.buildBuyTypeButton(appConfig['merchant']['chosenType']) });

                    stepCounter = 1;
                }
            },
            merge: function(customOptions) {
                for (var elementItem in customOptions) {
                    if (customOptions.hasOwnProperty(elementItem)) {
                        if (typeof elementItem == 'object') {
                            for (var objectItem in customOptions[elementItem]) {
                                if (customOptions[elementItem].hasOwnProperty(objectItem)) {
                                    options[elementItem][objectItem] = customOptions[elementItem][objectItem];
                                }
                            }
                        } else {
                            options[elementItem] = customOptions[elementItem];
                        }
                    }
                }

                return this;
            },
            built: function() {
                var style = [];
                var styleName = '';

                var ticketChooserObject = documentObject.createElement('div');

                closeButtonObject = documentObject.createElement('a');
                closeButtonObject.setAttribute('href', '#');
                closeButtonObject.setAttribute('title', 'close');
                closeButtonObject.setAttribute('class', 'close');
                closeButtonObject.innerHTML = 'X';

                containerObject = documentObject.createElement('div');
                overlayObject = documentObject.createElement('div');

                ticketChooserObject.setAttribute('id', 'ticket-chooser');

                overlayObject.setAttribute('id', 'overlay');
                for (var overlayCssOption in options['overlay']) {
                    if (options['overlay'].hasOwnProperty(overlayCssOption)) {
                        styleName = overlayCssOption;

                        if (overlayCssOption == 'color') {
                            styleName = 'background-color';
                        } else if (overlayCssOption == 'zIndex') {
                            styleName = 'z-index';
                        }

                        style.push(styleName + ': ' + options['overlay'][overlayCssOption]);
                    }
                }
                overlayObject.setAttribute('style', style.join('; '));

                style = [];
                containerObject.setAttribute('id', 'container');
                for (var containerCssOption in options['containerCss']) {
                    if (options['containerCss'].hasOwnProperty(containerCssOption)) {
                        styleName = containerCssOption;

                        if (containerCssOption == 'marginTop') {
                            styleName = 'margin-top';
                        } else if (containerCssOption == 'zIndex') {
                            styleName = 'z-index';
                        }

                        style.push(styleName + ': ' + options['containerCss'][containerCssOption]);
                    }
                }
                containerObject.setAttribute('style', style.join('; '));

                containerObject.appendChild(closeButtonObject);

                overlayObject.appendChild(containerObject);
                ticketChooserObject.appendChild(overlayObject);
                documentObject.body.appendChild(ticketChooserObject);

                return this;
            },
            check: function() {
                return this;
            },
            binds: function() {
                var _this = this;

                if (options.exit.escKey) {
                    documentObject.onkeyup = function(event) {
                        event = event || windowObject.event;

                        if (event.keyCode === 27) {
                            _this.close();
                        }
                    };
                }

                if (options.exit.clickToOverlay) {
                    overlayObject.addEventListener('click',
                        function(event) {
                            if ( event.target === overlayObject) {
                                _this.close();
                            }
                        },
                        false
                    );
                }

                closeButtonObject.addEventListener('click', function() { _this.close(); });

                tabsObjects = documentObject.querySelectorAll('#ticket-chooser #overlay #container .order-tab');
                stepsObjects = documentObject.querySelectorAll('#ticket-chooser #overlay #container .order-container .step');

                [].forEach.call(documentObject.querySelectorAll('.order-form-btn button'),
                    function (btn) {
                        btn.addEventListener('click',
                            function(event) {
                                _this.nextStep(event);
                            },
                            false
                        );
                    }
                );

                documentObject.onclick = function(event) {
                    event = event || windowObject.event;

                    var control = event.target;
                    var controlParent = event.target.parentNode;

                    if ((control.getAttribute('data-price-amount') && control.getAttribute('data-toggle')
                        && control.getAttribute('data-toggle') == 'ticket-chooser')
                        || (controlParent.getAttribute('data-price-amount') && controlParent.getAttribute('data-toggle')
                        && controlParent.getAttribute('data-toggle') == 'ticket-chooser')) {
                        var amt = !control.getAttribute('data-price-amount') ? controlParent.getAttribute('data-price-amount')
                            : control.getAttribute('data-price-amount');
                        var counterId = !control.getAttribute('data-counter-number-id') ? controlParent.getAttribute('data-counter-number-id')
                            : control.getAttribute('data-counter-number-id');

                        _this.changeOrderAmount(parseFloat(amt), counterId);
                    } else if (control.getAttribute('data-ticket-chooser-go-to-next-step')
                        || controlParent.getAttribute('data-ticket-chooser-go-to-next-step')) {
                        _this.nextStep(event);
                    } else if (control.getAttribute('class') == 'regular-checkbox big-checkbox'
                        && control.getAttribute('data-price-total-add')) {
                        if (control.checked) {
                            var addAmount = parseFloat(control.getAttribute('data-price-total-add'));
                        } else {
                            var addAmount = 0 - parseFloat(control.getAttribute('data-price-total-add'));
                        }

                        var amtObject = documentObject.querySelector('#order-step-2 div.total span.total-price span.amt');
                        var amtEndStep = documentObject.querySelector('#order-step-3 div.total-end-price span.amt');

                        totalOrderAmount = parseFloat(amtObject.innerHTML) + addAmount;

                        amtEndStep.innerHTML = amtObject.innerHTML = totalOrderAmount.toString();
                    }
                };

                [].forEach.call(documentObject.querySelectorAll('.step .step-item-content .payment-method-logo'),
                    function (btn) {
                        btn.addEventListener('click',
                            function(event) {
                                [].forEach.call(
                                    documentObject.querySelectorAll('.step .step-item-content .payment-method-name .radio input'),
                                    function (paymentMethodChooser) {
                                        paymentMethodChooser.removeAttribute('checked');
                                    }
                                );

                                var checkedPaymentMethodRadioBtn = documentObject.getElementById(
                                    'ticket-chooser-payment-method-' + event.target.getAttribute('data-ticket-chooser-payment-method-id')
                                );
                                checkedPaymentMethodRadioBtn.setAttribute('checked', 'checked');
                            },
                            false
                        );
                    }
                );

                documentObject.querySelector('#order-step-3 .btn-next button.back-btn').addEventListener('click',
                    function(event) {
                        var tabs = documentObject.querySelectorAll('#ticket-chooser #overlay div.order-tab');

                        if (_this.hasClass(tabs[event.target.getAttribute('data-back-to-step-id')])) {
                            return;
                        }

                        for (var index = 0; index <= tabs.length; index++) {
                            if (tabs[index]) {
                                _this.removeClass(tabs[index], 'active');
                            }
                        }

                        var _stepCounter = stepCounter;
                        _this.removeClass(stepsObjects[_stepCounter], 'active').addClass(stepsObjects[_stepCounter - 1], 'active');
                        _this.addClass(tabsObjects[event.target.getAttribute('data-back-to-step-id')], 'active')
                            .removeClass(tabsObjects[event.target.getAttribute('data-back-to-step-id')], 'tab-pointer');

                        stepCounter--;
                    }
                );

                documentObject.querySelector('#order-step-3 .btn-next button#submit-btn').addEventListener('click',
                    function() {
                        var emailForSendTicket = documentObject.getElementById('email-for-send-ticket');
                        var emailMask = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;

                        var emailForSendTicketValue = emailForSendTicket.value;

                        var errors = [];

                        if (!emailForSendTicketValue) {
                            errors.push('Необходимо заполнить поле Email.');
                        } else if(!emailMask.test(emailForSendTicketValue)) {
                            errors.push('Значение введеное в поле Email не корректно.');
                        }

                        var emailContainerObject = documentObject.getElementById('email-for-send-ticket-container');
                        var errorIconSpan, errorTextSpan;

                        _this.removeClass(emailContainerObject, 'has-error');

                        errorIconSpan = documentObject.querySelector('#email-for-send-ticket-container span.glyphicon-remove');
                        if (errorIconSpan) {
                            emailContainerObject.removeChild(errorIconSpan);
                        }

                        errorTextSpan = documentObject.querySelector('#email-for-send-ticket-container span.help-block');
                        if (errorTextSpan) {
                            emailContainerObject.removeChild(errorTextSpan);
                        }

                        if (errors.length > 0) {
                            _this.addClass(emailContainerObject, 'has-error');

                            errorIconSpan = documentObject.createElement('span');
                            errorTextSpan = documentObject.createElement('span');


                            errorIconSpan.setAttribute('class', 'glyphicon glyphicon-remove form-control-feedback');
                            errorIconSpan.setAttribute('aria-hidden', 'true');
                            errorTextSpan.setAttribute('class', 'help-block');
                            errorTextSpan.innerHTML = errors[0];

                            emailContainerObject.appendChild(errorIconSpan);
                            emailContainerObject.appendChild(errorTextSpan);
                        } else {
                            var method = 'post';
                            var url = '{{ app.request.getSchemeAndHttpHost() ~ path('ticket_chooser_api_create_order') }}';
                            var requestParams = {
                                totalAmt: totalOrderAmount,
                                merchantId: appConfig['merchant']['merchantId'],
                                chooseTicketType: choosedTicketType,
                                chooseTickets: choosedTickets,
                                clientEmail: emailForSendTicketValue
                            };

                            [].forEach.call(
                                documentObject.querySelectorAll('#order-step-3 .payment-method-name .radio input'),
                                function (paymentMethodChooser) {
                                    if (paymentMethodChooser.checked) {
                                        requestParams['choosePaymentMethod'] = paymentMethodChooser.value;
                                    }
                                }
                            );

                            /********* добавим в запрос информацию о дополнительных суммах платежа *********/
                            var additionalAmounts = [];
                            var additionalAmountControls = documentObject.querySelectorAll('.regular-checkbox.big-checkbox');

                            for (var index = 0; index <= additionalAmountControls.length; index++) {
                                if (additionalAmountControls[index] && additionalAmountControls[index].checked) {
                                    additionalAmounts.push(appConfig['additionalTicketsPrice'][index]);
                                }
                            }

                            if (additionalAmounts.length > 0) {
                                requestParams['additionalAmounts'] = additionalAmounts;
                            }

                            var XHR = ('onload' in new XMLHttpRequest()) ? XMLHttpRequest : XDomainRequest;
                            var xhr = new XHR();

                            xhr.open(method, url, true);
                            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

                            xhr.onload = function() {
                                var containerDivObject = documentObject.createElement('div');
                                containerDivObject.innerHTML = this.responseText;

                                documentObject.body.appendChild(containerDivObject);
                                documentObject.getElementById('create-bill-form').submit();
                            };

                            xhr.onerror = function() {
                                alert('Ошибка ' + this.status);
                            };

                            xhr.send('order_params=' + JSON.stringify(requestParams));
                        }
                    }
                );

                return this;
            },
            close: function() {
                if (overlayObject) {
                    overlayObject.style.visibility = 'hidden';
                }

                var ticketChooser = documentObject.getElementById('ticket-chooser');
                ticketChooser.parentNode.removeChild(ticketChooser);

                stepObject = orderContainerObject = stepsObjects = tabsObjects = closeButtonObject
                    = containerObject = overlayObject = null;
                stepCounter = totalOrderAmount = 0;
                ticketsObjects = [];
                choosedTicketType = null;
                choosedTickets = {};
                classes = '';

                return this;
            },
            buildTicketsForm: function() {
                var _this = this;

                orderContainerObject = documentObject.createElement('div');
                orderContainerObject.setAttribute('class', 'col-lg-12 col-md-12 col-sm-12 col-xs-12 order-container');

                /************** создаем шаги **************/
                var tabIterator = 1;
                classes = 'col-lg-4 col-md-4 col-sm-4 col-xs-4 ';

                for (var tabIndex in tabsConfig) {
                    if (tabsConfig.hasOwnProperty(tabIndex)) {
                        if (typeof appConfig['merchant']['chosenType'] == 'number' && appConfig['merchant']['chosenType'] >= 0 && parseInt(tabIndex) == 0) {
                            classes = 'col-lg-6 col-md-6 col-sm-6 col-xs-6 ';
                            continue;
                        }

                        var tabObject = documentObject.createElement('div');
                        var lineObject = documentObject.createElement('div');
                        var titleObject = documentObject.createElement('div');

                        if (tabIterator == 1) {
                            tabObject.setAttribute('class', classes + 'active ' + tabsConfig[tabIndex]['tabClasses']);
                        } else {
                            tabObject.setAttribute('class', classes + tabsConfig[tabIndex]['tabClasses']);
                        }

                        tabObject.setAttribute('data-step-index', (tabIterator - 1).toString());

                        lineObject.setAttribute('class', tabsConfig[tabIndex]['lineClasses']);
                        titleObject.setAttribute('class', tabsConfig[tabIndex]['titleClasses']);
                        titleObject.innerHTML = 'ШАГ ' + tabIterator + '<br />' + tabsConfig[tabIndex]['titleText'];

                        tabObject.appendChild(lineObject).appendChild(titleObject);
                        orderContainerObject.appendChild(tabObject);

                        ++tabIterator;
                    }
                }

                /************** создаем наполнение шагов **************/
                for (var index = 1; index <= 3; index++) {
                    stepObject = documentObject.createElement('div');
                    stepObject.setAttribute('id', 'order-step-' + index);

                    classes = 'col-lg-12 col-md-12 col-sm-12 col-xs-12 step';
                    if (index == 1) {
                        classes += ' active';
                    }

                    stepObject.setAttribute('class', classes);

                    if (index == 2) {
                        stepObject.setAttribute('style', 'margin-bottom: 30px;');
                    }

                    var stepTitleObject = documentObject.createElement('div');

                    classes = 'col-lg-12 col-md-12 col-sm-12 col-xs-12 order-form-section title left-align';
                    if (index != 3) {
                        classes += ' upper';
                    }

                    stepTitleObject.setAttribute('class', classes);
                    stepTitleObject.innerHTML = appConfig['merchant']['name'];

                    var stepDescriptionObject = documentObject.createElement('div');
                    stepDescriptionObject.setAttribute('class', 'col-lg-12 col-md-12 col-sm-12 col-xs-12 order-form-section description left-align');

                    if (index == 1) {
                        stepDescriptionObject.innerHTML = appConfig['merchant']['promo'];
                    } else if (index == 2) {
                        stepDescriptionObject.setAttribute('style', 'margin-top: 0;');
                    } else if (index == 3) {
                        stepTitleObject.setAttribute('style', 'padding: 0 25px;');
                        stepDescriptionObject.setAttribute('style', 'padding: 0 25px;');
                        stepDescriptionObject.setAttribute('id', 'email-for-send-ticket-container');

                        stepTitleObject.innerHTML = 'Введите email на который будет отправлен билет в "' + appConfig['merchant']['name'] + '":';

                        var emailInputObject = documentObject.createElement('input');
                        emailInputObject.setAttribute('class', 'form-control');
                        emailInputObject.setAttribute('type', 'text');
                        emailInputObject.setAttribute('id', 'email-for-send-ticket');
                        emailInputObject.setAttribute('placeholder', 'Email');

                        stepDescriptionObject.appendChild(emailInputObject);
                    }

                    stepObject.appendChild(stepTitleObject);
                    stepObject.appendChild(stepDescriptionObject);

                    var stepItemsContainerObject = documentObject.createElement('div');
                    stepItemsContainerObject.setAttribute('class', 'col-lg-12 col-md-12 col-sm-12 col-xs-12 step-item-content');
                    stepItemsContainerObject.setAttribute('style', 'padding: 0 25px;');

                    if (index == 1) {
                        var arrayItemsCounter = -1;

                        for (var arrayIndex in appConfig['tickets']) {
                            if (appConfig['tickets'].hasOwnProperty(arrayIndex)) {
                                arrayItemsCounter++;
                            }
                        }

                        for (var ticketTypeIndex in appConfig['tickets']) {
                            if (appConfig['tickets'].hasOwnProperty(ticketTypeIndex)) {
                                console.log(ticketTypeIndex);
                                var stepItemObject = documentObject.createElement('div');
                                var stepItemDescriptionContainerObject = documentObject.createElement('div');
                                var stepItemDescriptionIconContainerObject = documentObject.createElement('div');
                                var stepItemDescriptionIconObject = documentObject.createElement('span');
                                var stepItemDescriptionNameObject = documentObject.createElement('div');
                                var stepItemDescriptionObject = documentObject.createElement('div');
                                var stepItemButtonContainerObject = documentObject.createElement('div');

                                classes = 'col-lg-12 col-md-12 col-sm-12 col-xs-12 order-form-section ticket-section';
                                if (parseInt(ticketTypeIndex) != arrayItemsCounter) {
                                    classes += ' border-bottom-black-dotted';
                                }

                                stepItemObject.setAttribute('class', classes);
                                stepItemDescriptionContainerObject.setAttribute('class', 'col-lg-8 col-md-8 col-sm-8 col-xs-8 left-align');
                                stepItemDescriptionContainerObject.setAttribute('style', 'padding: 0;');
                                stepItemDescriptionIconContainerObject.setAttribute('class', 'col-lg-1 col-md-1 col-sm-1 col-xs-1 icon');
                                stepItemDescriptionIconObject.setAttribute('class', 'fa fa-ticket');
                                stepItemDescriptionNameObject.setAttribute('class', 'col-lg-11 col-md-11 col-sm-11 col-xs-11 ticket-name');
                                stepItemDescriptionNameObject.innerHTML = appConfig['tickets'][ticketTypeIndex]['typeName'];
                                stepItemDescriptionObject.setAttribute('class', 'col-lg-11 col-md-11 col-sm-11 col-xs-11 pull-right ticket-description');
                                stepItemDescriptionObject.innerHTML = appConfig['tickets'][ticketTypeIndex]['typeDescription'];
                                stepItemButtonContainerObject.setAttribute('class', 'col-lg-4 col-md-4 col-sm-4 col-xs-4 order-form-btn right-align');

                                stepItemDescriptionIconContainerObject.appendChild(stepItemDescriptionIconObject);
                                stepItemDescriptionContainerObject.appendChild(stepItemDescriptionIconContainerObject);
                                stepItemDescriptionContainerObject.appendChild(stepItemDescriptionNameObject);
                                stepItemDescriptionContainerObject.appendChild(stepItemDescriptionObject);
                                stepItemButtonContainerObject.appendChild(_this.buildBuyTypeButton(ticketTypeIndex));

                                stepItemObject.appendChild(stepItemDescriptionContainerObject);
                                stepItemObject.appendChild(stepItemButtonContainerObject);

                                stepItemsContainerObject.appendChild(stepItemObject);

                                var stepItemsContainerStepTwoObject = documentObject.createElement('div');
                                stepItemsContainerStepTwoObject.setAttribute('class', 'col-lg-12 col-md-12 col-sm-12 col-xs-12');
                                stepItemsContainerStepTwoObject.setAttribute('style', 'padding: 0 25px;');

                                var arrayItemsTicketsCounter = -1;

                                for (var arrayTicketsIndex in appConfig['tickets'][ticketTypeIndex]['tickets']) {
                                    if (appConfig['tickets'][ticketTypeIndex]['tickets'].hasOwnProperty(arrayTicketsIndex)) {
                                        arrayItemsTicketsCounter++;
                                    }
                                }

                                for (var ticketIndex in appConfig['tickets'][ticketTypeIndex]['tickets']) {
                                    if (appConfig['tickets'][ticketTypeIndex]['tickets'].hasOwnProperty(ticketIndex)) {
                                        var ticketItemContainerObject = documentObject.createElement('div');

                                        var ticketItemNameObject = documentObject.createElement('div');
                                        var ticketItemTooltipIconObject = documentObject.createElement('i');

                                        var ticketItemPriceObject = documentObject.createElement('div');
                                        var ticketItemCountContainerObject = documentObject.createElement('div');
                                        var ticketItemCountNameObject = documentObject.createElement('div');
                                        var ticketItemCounterContainerObject = documentObject.createElement('div');
                                        var ticketItemCounterButtonMinusContainerObject = documentObject.createElement('div');
                                        var ticketItemCounterButtonMinusObject = documentObject.createElement('button');
                                        var ticketItemCounterButtonMinusIconObject = documentObject.createElement('span');
                                        var ticketItemCounterNumberObject = documentObject.createElement('div');

                                        var ticketItemCounterButtonPlusContainerObject = documentObject.createElement('div');
                                        var ticketItemCounterButtonPlusObject = documentObject.createElement('button');
                                        var ticketItemCounterButtonPlusIconObject = documentObject.createElement('span');

                                        classes = 'col-lg-4 col-md-4 col-sm-4 col-xs-4 ticket-vertical-section';
                                        if (parseInt(ticketIndex) != arrayTicketsIndex) {
                                            classes += ' border-right-black-dotted';
                                        }

                                        ticketItemContainerObject.setAttribute('class', classes);

                                        ticketItemNameObject.setAttribute('class', 'col-lg-12 col-md-12 col-sm-12 col-xs-12 ticket-name');
                                        ticketItemNameObject.innerHTML = appConfig['tickets'][ticketTypeIndex]['tickets'][ticketIndex]['ticketName'];

                                        if (appConfig['tickets'][ticketTypeIndex]['tickets'][ticketIndex]['ticketTooltip']) {
                                            var ticketItemTooltipObject = documentObject.createElement('a');
                                            ticketItemTooltipObject.setAttribute('class', 'tooltip-right');
                                            ticketItemTooltipObject.setAttribute('style', 'margin-left: 5px; font-size: 20px; color: #ea9334;');
                                            ticketItemTooltipObject.setAttribute('data-tooltip', appConfig['tickets'][ticketTypeIndex]['tickets'][ticketIndex]['ticketTooltip']);
                                            ticketItemTooltipIconObject.setAttribute('class', 'fa fa-question-circle');
                                            ticketItemTooltipObject.appendChild(ticketItemTooltipIconObject);
                                            ticketItemNameObject.appendChild(ticketItemTooltipObject);
                                        }

                                        ticketItemPriceObject.setAttribute('class', 'col-lg-12 col-md-12 col-sm-12 col-xs-12 ticket-price');
                                        ticketItemPriceObject.innerHTML = appConfig['tickets'][ticketTypeIndex]['tickets'][ticketIndex]['ticketPrice'] + ' руб.';
                                        ticketItemCountContainerObject.setAttribute('class', 'col-lg-12 col-md-12 col-sm-12 col-xs-12 ticket-count');
                                        ticketItemCountNameObject.setAttribute('class', 'col-lg-12 col-md-12 col-sm-12 col-xs-12');
                                        ticketItemCountNameObject.innerHTML = 'Количество';
                                        ticketItemCounterContainerObject.setAttribute('class', 'col-lg-12 col-md-12 col-sm-12 col-xs-12 counter');

                                        ticketItemCounterButtonMinusContainerObject.setAttribute('class', 'col-lg-4 col-md-4 col-sm-4 col-xs-4 order-button-count right-align');
                                        ticketItemCounterButtonMinusObject.setAttribute('class', 'btn btn-warning btn-xs');
                                        ticketItemCounterButtonMinusObject.setAttribute('data-price-amount', '-' + appConfig['tickets'][ticketTypeIndex]['tickets'][ticketIndex]['ticketPrice']);
                                        ticketItemCounterButtonMinusObject.setAttribute('data-toggle', 'ticket-chooser');
                                        ticketItemCounterButtonMinusObject.setAttribute('data-counter-number-id', ticketIndex);
                                        ticketItemCounterButtonMinusIconObject.setAttribute('class', 'fa fa-minus');

                                        ticketItemCounterButtonPlusContainerObject.setAttribute('class', 'col-lg-4 col-md-4 col-sm-4 col-xs-4 order-button-count left-align');
                                        ticketItemCounterButtonPlusObject.setAttribute('class', 'btn btn-warning btn-xs');
                                        ticketItemCounterButtonPlusObject.setAttribute('data-price-amount', appConfig['tickets'][ticketTypeIndex]['tickets'][ticketIndex]['ticketPrice']);
                                        ticketItemCounterButtonPlusObject.setAttribute('data-toggle', 'ticket-chooser');
                                        ticketItemCounterButtonPlusObject.setAttribute('data-counter-number-id', ticketIndex);
                                        ticketItemCounterButtonPlusIconObject.setAttribute('class', 'fa fa-plus');

                                        ticketItemCounterNumberObject.setAttribute('class', 'col-lg-4 col-md-4 col-sm-4 col-xs-4 number');
                                        ticketItemCounterNumberObject.setAttribute('id', 'ticket-chooser-counter-number-' + ticketIndex);
                                        ticketItemCounterNumberObject.innerHTML = '0';

                                        ticketItemCounterButtonMinusObject.appendChild(ticketItemCounterButtonMinusIconObject);
                                        ticketItemCounterButtonPlusObject.appendChild(ticketItemCounterButtonPlusIconObject);

                                        ticketItemCounterButtonMinusContainerObject.appendChild(ticketItemCounterButtonMinusObject);
                                        ticketItemCounterButtonPlusContainerObject.appendChild(ticketItemCounterButtonPlusObject);

                                        ticketItemCounterContainerObject.appendChild(ticketItemCounterButtonMinusContainerObject);
                                        ticketItemCounterContainerObject.appendChild(ticketItemCounterNumberObject);
                                        ticketItemCounterContainerObject.appendChild(ticketItemCounterButtonPlusContainerObject);

                                        ticketItemCountContainerObject.appendChild(ticketItemCountNameObject);
                                        ticketItemCountContainerObject.appendChild(ticketItemCounterContainerObject);

                                        ticketItemContainerObject.appendChild(ticketItemNameObject);
                                        ticketItemContainerObject.appendChild(ticketItemPriceObject);
                                        ticketItemContainerObject.appendChild(ticketItemCountContainerObject);

                                        stepItemsContainerStepTwoObject.appendChild(ticketItemContainerObject);
                                    }
                                }

                                ticketsObjects.push(stepItemsContainerStepTwoObject);
                            }
                        }
                    } else if (index == 3) {
                        var stepThreeTitleObject = documentObject.createElement('div');
                        var stepThreePaymentMethodContainer = documentObject.createElement('div');

                        stepThreeTitleObject.setAttribute('class', 'col-lg-12 col-md-12 col-sm-12 col-xs-12 order-form-section title left-align');
                        stepThreeTitleObject.setAttribute('style', 'padding: 0 25px;');
                        stepThreeTitleObject.innerHTML = 'Выберите способ оплаты:';

                        stepThreePaymentMethodContainer.setAttribute('class', 'col-lg-12 col-md-12 col-sm-12 col-xs-12');
                        stepThreePaymentMethodContainer.setAttribute('style', 'padding: 0 25px;');

                        var arrayItemsPaymentMethodCounter = -1;
                        for (var arrayPaymentMethodsIndex in paymentMethodsConfig) {
                            if (paymentMethodsConfig.hasOwnProperty(arrayPaymentMethodsIndex)) {
                                arrayItemsPaymentMethodCounter++;
                            }
                        }

                        for (var paymentMethodItem in paymentMethodsConfig) {
                            if (paymentMethodsConfig.hasOwnProperty(paymentMethodItem)) {
                                var paymentMethodItemContainerObject = documentObject.createElement('div');

                                var paymentMethodItemNameContainerObject = documentObject.createElement('div');
                                var paymentMethodItemNameRadioContainerObject = documentObject.createElement('div');
                                var paymentMethodItemNameLabelObject = documentObject.createElement('label');
                                var paymentMethodItemNameInputObject = documentObject.createElement('input');

                                var paymentMethodItemLogoContainerObject = documentObject.createElement('div');
                                var paymentMethodItemLogoObject = documentObject.createElement('img');

                                classes = 'col-lg-3 col-md-3 col-sm-3 col-xs-3 ticket-vertical-section margin-top-5';
                                if (paymentMethodItem != arrayItemsPaymentMethodCounter) {
                                    classes += ' border-right-black-dotted';
                                }

                                paymentMethodItemContainerObject.setAttribute('class', classes);
                                paymentMethodItemNameContainerObject.setAttribute('class', 'col-lg-12 col-md-12 col-sm-12 col-xs-12 payment-method-name');
                                paymentMethodItemNameRadioContainerObject.setAttribute('class', 'radio');
                                paymentMethodItemNameInputObject.setAttribute('type', 'radio');
                                paymentMethodItemNameInputObject.setAttribute('name', 'payment-method');
                                paymentMethodItemNameInputObject.setAttribute('value', paymentMethodsConfig[paymentMethodItem]['id']);
                                paymentMethodItemNameInputObject.setAttribute('id', 'ticket-chooser-payment-method-' + paymentMethodItem);

                                if (paymentMethodItem == 0) {
                                    paymentMethodItemNameInputObject.setAttribute('checked', 'checked');
                                }

                                paymentMethodItemLogoContainerObject.setAttribute('class', 'col-lg-12 col-md-12 col-sm-12 col-xs-12 payment-method-logo');
                                paymentMethodItemLogoContainerObject.setAttribute('data-ticket-chooser-payment-method-id', paymentMethodItem);
                                paymentMethodItemLogoObject.setAttribute('src', paymentMethodsConfig[paymentMethodItem]['logo']);
                                paymentMethodItemLogoObject.setAttribute('alt', paymentMethodsConfig[paymentMethodItem]['name']);
                                paymentMethodItemLogoObject.setAttribute('data-ticket-chooser-payment-method-id', paymentMethodItem);

                                paymentMethodItemNameLabelObject.appendChild(paymentMethodItemNameInputObject);
                                paymentMethodItemNameLabelObject.innerHTML += ' ' + paymentMethodsConfig[paymentMethodItem]['name'];
                                paymentMethodItemNameRadioContainerObject.appendChild(paymentMethodItemNameLabelObject);
                                paymentMethodItemNameContainerObject.appendChild(paymentMethodItemNameRadioContainerObject);

                                paymentMethodItemLogoContainerObject.appendChild(paymentMethodItemLogoObject);

                                paymentMethodItemContainerObject.appendChild(paymentMethodItemNameContainerObject);
                                paymentMethodItemContainerObject.appendChild(paymentMethodItemLogoContainerObject);

                                stepThreePaymentMethodContainer.appendChild(paymentMethodItemContainerObject);
                            }
                        }

                        var paymentMethodItemAttentionDescriptionObject = documentObject.createElement('div');
                        var paymentMethodItemAttentionDescriptionSpanObject = documentObject.createElement('span');
                        var paymentMethodItemTotalEndPriceObject = documentObject.createElement('div');
                        var paymentMethodItemTotalEndPriceSpanObject = documentObject.createElement('span');
                        var paymentMethodItemOfferObject = documentObject.createElement('div');
                        var paymentMethodItemOfferLinkObject = documentObject.createElement('a');

                        var paymentMethodItemDoPaymentContainerObject = documentObject.createElement('div');
                        var paymentMethodItemDoPaymentAgeLimitObject = documentObject.createElement('div');
                        var paymentMethodItemDoPaymentBtnNextContainerObject = documentObject.createElement('div');
                        var paymentMethodItemDoPaymentBtnNextObject = documentObject.createElement('button');

                        paymentMethodItemAttentionDescriptionObject.setAttribute('class', 'col-lg-12 col-md-12 col-sm-12 col-xs-12 order-form-section description left-align');
                        paymentMethodItemAttentionDescriptionObject.setAttribute('style', 'color: #ea9334; padding: 0 25px;');
                        paymentMethodItemAttentionDescriptionSpanObject.setAttribute('style', 'font-weight: bold;');
                        paymentMethodItemAttentionDescriptionSpanObject.innerHTML = 'ВНИМАНИЕ! ';
                        paymentMethodItemTotalEndPriceObject.setAttribute('class', 'col-lg-12 col-md-12 col-sm-12 col-xs-12 order-form-section total-end-price');
                        paymentMethodItemTotalEndPriceSpanObject.setAttribute('class', 'amt');
                        paymentMethodItemTotalEndPriceSpanObject.setAttribute('style', 'margin-left: 10px; font-weight: normal;');
                        paymentMethodItemTotalEndPriceSpanObject.innerHTML = '0';
                        paymentMethodItemTotalEndPriceObject.appendChild(paymentMethodItemTotalEndPriceSpanObject);
                        paymentMethodItemTotalEndPriceObject.innerHTML += ' руб.';
                        paymentMethodItemTotalEndPriceObject.innerHTML = 'ИТОГО: ' + paymentMethodItemTotalEndPriceObject.innerHTML;
                        paymentMethodItemOfferObject.setAttribute('class', 'col-lg-11 col-md-11 col-sm-11 col-xs-11 pull-right order-form-section description offer');
                        paymentMethodItemOfferObject.setAttribute('style', 'padding: 0 25px;');
                        paymentMethodItemOfferLinkObject.setAttribute('href', appConfig['merchant']['offer']);
                        paymentMethodItemOfferLinkObject.setAttribute('target', '_blank');
                        paymentMethodItemOfferLinkObject.innerHTML = 'условия предоставления';

                        /*********** контейнер для расшифровки итоговой суммы ***********/
                        var totalDetailsObject = documentObject.createElement('div');
                        totalDetailsObject.setAttribute('style', 'margin: 5px auto; margin-bottom: 10px; width: 350px; border-top: 2px solid #ea9334;');
                        totalDetailsObject.setAttribute('id', 'total-amount-details-container');
                        paymentMethodItemTotalEndPriceObject.appendChild(totalDetailsObject);

                        paymentMethodItemOfferObject.appendChild(paymentMethodItemOfferLinkObject);
                        paymentMethodItemOfferObject.innerHTML += ' услуги.';
                        paymentMethodItemOfferObject.innerHTML = 'Нажимая "ОПЛАТИТЬ", Вы принимаете ' + paymentMethodItemOfferObject.innerHTML;
                        paymentMethodItemAttentionDescriptionObject.appendChild(paymentMethodItemAttentionDescriptionSpanObject);
                        paymentMethodItemAttentionDescriptionObject.innerHTML += 'После получения билета его можно предъявить на экране мобильного устройства либо в распечатанном виде.';

                        paymentMethodItemDoPaymentContainerObject.setAttribute('class', 'col-lg-12 col-md-12 col-sm-12 col-xs-12 order-form-section do-payment-btn-section');
                        paymentMethodItemDoPaymentContainerObject.setAttribute('style', 'padding: 0 25px;');
                        paymentMethodItemDoPaymentAgeLimitObject.setAttribute('class', 'age-limit');
                        paymentMethodItemDoPaymentAgeLimitObject.innerHTML = '16+';
                        paymentMethodItemDoPaymentBtnNextContainerObject.setAttribute('class', 'col-lg-10 col-md-10 col-sm-10 col-xs-10 btn-next');
                        paymentMethodItemDoPaymentBtnNextContainerObject.setAttribute('style', 'margin: 10px 0 25px 0;');
                        paymentMethodItemDoPaymentBtnNextObject.setAttribute('class', 'btn btn-warning btn-lg col-md-offset-1');
                        paymentMethodItemDoPaymentBtnNextObject.setAttribute('type', 'button');
                        paymentMethodItemDoPaymentBtnNextObject.setAttribute('id', 'submit-btn');
                        paymentMethodItemDoPaymentBtnNextObject.innerHTML = 'Оплатить';

                        var backBtnObject = documentObject.createElement('button');
                        backBtnObject.setAttribute('class', 'btn btn-warning btn-sm back-btn');
                        if (typeof appConfig['merchant']['chosenType'] == 'number' && appConfig['merchant']['chosenType'] >= 0) {
                            backBtnObject.setAttribute('data-back-to-step-id', '0');
                        } else {
                            backBtnObject.setAttribute('data-back-to-step-id', '1');
                        }
                        backBtnObject.setAttribute('type', 'button');
                        backBtnObject.innerHTML = 'Назад';

                        paymentMethodItemDoPaymentBtnNextContainerObject.appendChild(backBtnObject);
                        paymentMethodItemDoPaymentBtnNextContainerObject.appendChild(paymentMethodItemDoPaymentBtnNextObject);
                        paymentMethodItemDoPaymentContainerObject.appendChild(paymentMethodItemDoPaymentAgeLimitObject);
                        paymentMethodItemDoPaymentContainerObject.appendChild(paymentMethodItemDoPaymentBtnNextContainerObject);

                        stepItemsContainerObject.setAttribute('style', 'padding: 0;');

                        stepItemsContainerObject.appendChild(stepThreeTitleObject);
                        stepItemsContainerObject.appendChild(stepThreePaymentMethodContainer);
                        stepItemsContainerObject.appendChild(paymentMethodItemAttentionDescriptionObject);
                        stepItemsContainerObject.appendChild(paymentMethodItemTotalEndPriceObject);
                        stepItemsContainerObject.appendChild(paymentMethodItemOfferObject);
                        stepItemsContainerObject.appendChild(paymentMethodItemDoPaymentContainerObject);

                        stepObject.setAttribute('style', 'padding: 0;');
                    }

                    stepObject.appendChild(stepItemsContainerObject);
                    orderContainerObject.appendChild(stepObject);
                }

                containerObject.appendChild(orderContainerObject);

                return this;
            },
            authentication: function() {
                var _this = this;
                var requestParams = _this.getParams();

                if(!requestParams || requestParams == '') {
                    return false;
                }

                var params = {};

                requestParams = (requestParams.substr(1)).split('&');
                for(var index = 0; index < requestParams.length; index++) {
                    var splitParams = requestParams[index].split('=');

                    params[splitParams[0]] = splitParams[1];
                }

                return true;
            },
            getParams: function() {
                var scripts = documentObject.getElementsByTagName('script');
                for (var index = 0; index < scripts.length; index++) {
                    if (/ticket-chooser.js/.test(scripts[index].src)) {
                        return scripts[index].src.replace(/[^\?]+\?/, '');
                    }
                }

                return false;
            },
            nextStep: function(event) {
                var _tabCounter = (typeof appConfig['merchant']['chosenType'] == 'number' && appConfig['merchant']['chosenType'] >= 0)
                    ? stepCounter - 1 : stepCounter;
                var _this = this;

                if (!tabsObjects || !stepsObjects) {
                    return;
                } else if (stepCounter >= (stepsObjects.length - 1)) {
                    return;
                } else if (stepCounter == 1) {
                    var additionalAmount = 0;
                    var additionalAmountControls = documentObject.querySelectorAll('.regular-checkbox.big-checkbox');

                    for (var index = 0; index <= additionalAmountControls.length; index++) {
                        if (additionalAmountControls[index] && additionalAmountControls[index].checked) {
                            additionalAmount += parseFloat(additionalAmountControls[index].getAttribute('data-price-total-add'));
                        }
                    }

                    if ((totalOrderAmount - additionalAmount) <= 0) {
                        var btnNextStepObject = documentObject.querySelector('#ticket-chooser #overlay #order-step-' + (stepCounter + 1) + ' button.btn-next-step');
                        var btnContainer = btnNextStepObject.parentNode;

                        btnContainer.removeChild(btnNextStepObject);

                        var tooltipObject = documentObject.createElement('a');
                        tooltipObject.setAttribute('class', 'tooltip-right');
                        tooltipObject.setAttribute('data-tooltip', 'Выберите, пожалуйста, необходимое количество билетов.');
                        tooltipObject.setAttribute('class', 'tooltip-right');

                        tooltipObject.appendChild(btnNextStepObject);
                        btnContainer.appendChild(tooltipObject);

                        setTimeout(
                            function() {
                                btnContainer.innerHTML = '';
                                btnContainer.appendChild(btnNextStepObject);
                            } ,
                            3000
                        );

                        return;
                    }
                }

                if (stepCounter == 0) {
                    totalOrderAmount = 0; choosedTickets = {};
                    [].forEach.call(
                        documentObject.querySelectorAll('#order-step-2 .counter .number'),
                        function(object) {
                            object.innerHTML = '0';
                        }
                    );

                    this.showTicketsByType(event);
                } else {
                    var _stepCounter = stepCounter;
                    this.removeClass(stepsObjects[_stepCounter], 'active').addClass(stepsObjects[_stepCounter + 1], 'active');
                }

                if (stepCounter == 1) {
                    var chosenItemObject;
                    var totalAmountDetailsContainerObject = documentObject.getElementById('total-amount-details-container');
                    var additionalAmountFlag = false;

                    totalAmountDetailsContainerObject.innerHTML = '';
                    for (var item in choosedTickets) {
                        if (choosedTickets.hasOwnProperty(item) && choosedTickets[item]['count'] > 0) {
                            chosenItemObject = documentObject.createElement('div');
                            chosenItemObject.setAttribute('style', 'width: 100%; height: 12px; font-size: 10px; padding: 5px 10px; color: #fff; text-align: center;');

                            var choiceType = (typeof appConfig['merchant']['chosenType'] == 'number' && appConfig['merchant']['chosenType'] >= 0) ?
                                appConfig['merchant']['chosenType'] : choosedTicketType;

                            chosenItemObject.innerHTML = appConfig['tickets'][choiceType]['tickets'][item]['ticketName'] + ' билет: ' + choosedTickets[item]['count'] + 'шт. на общую сумму ' + choosedTickets[item]['amt'] + 'руб.';

                            totalAmountDetailsContainerObject.appendChild(chosenItemObject);
                        }
                    }

                    for (index = 0; index <= additionalAmountControls.length; index++) {
                        if (additionalAmountControls[index] && additionalAmountControls[index].checked) {
                            additionalAmountFlag = true;
                        }
                    }

                    if (additionalAmountFlag) {
                        chosenItemObject = documentObject.createElement('div');
                        chosenItemObject.setAttribute('style', 'width: 100%; height: 19px; padding: 5px 10px; font-size: 14px; text-decoration: underline; color: #fff; text-align: center;');
                        chosenItemObject.innerHTML = 'Дополнительно:';
                        totalAmountDetailsContainerObject.appendChild(chosenItemObject);

                        for (index = 0; index <= additionalAmountControls.length; index++) {
                            if (additionalAmountControls[index] && additionalAmountControls[index].checked) {
                                chosenItemObject = documentObject.createElement('div');
                                if (index == (additionalAmountControls.length - 1)) {
                                    chosenItemObject.setAttribute('style', 'width: 100%; height: 20px; padding: 5px 10px 5px 10px; font-size: 10px; color: #fff; text-align: center;');
                                } else {
                                    chosenItemObject.setAttribute('style', 'width: 100%; height: 12px; padding: 5px 10px; font-size: 10px; color: #fff; text-align: center;');
                                }
                                chosenItemObject.innerHTML = appConfig['additionalTicketsPrice'][index]['title'] + ': ' + additionalAmountControls[index].getAttribute('data-price-total-add') + 'руб.';
                                totalAmountDetailsContainerObject.appendChild(chosenItemObject);
                            }
                        }
                    }
                }

                this.removeClass(tabsObjects[_tabCounter], 'active').addClass(tabsObjects[_tabCounter], ' tab-pointer')
                    .addClass(tabsObjects[_tabCounter + 1], 'active');

                /************** добавляем событие для переключения на предыдущий шаг **************/
                tabsObjects[_tabCounter].addEventListener('click', function(event) {
                    var element = _this.hasClass(event.target, 'title') ? event.target.parentNode.parentNode
                        : event.target;
                    var currentTab = parseInt(element.getAttribute('data-step-index'));
                    var _stepCounter = stepCounter;

                    if (_stepCounter == 0) {
                        return;
                    }

                    if (_this.hasClass(element, 'line')) {
                        element = element.parentNode;
                    }

                    if (_this.hasClass(element, 'active')) {
                        return;
                    }

                    for (var index = 0; index <= tabsObjects.length; index++) {
                        if (tabsObjects[index]) {
                            _this.removeClass(tabsObjects[index], 'active');
                        }
                    }

                    _this.removeClass(stepsObjects[_stepCounter], 'active').addClass(stepsObjects[currentTab], 'active');

                    _this.addClass(tabsObjects[_tabCounter], 'active').removeClass(tabsObjects[_tabCounter], 'tab-pointer');

                    stepCounter = currentTab;
                });

                stepCounter++;
            },
            removeClass: function(element, className) {
                element.className = element.className.replace(className, '');

                return this;
            },
            addClass: function(element, className) {
                var _this = this;

                _this.removeClass(element, className);
                element.className = element.className + ' ' + className;

                return this;
            },
            hasClass: function(element, className) {
                return (' ' + element.className + ' ').indexOf(' ' + className + ' ') > -1;
            },
            buildAmountSection: function() {
                var totalSectionObject = documentObject.createElement('div');
                var totalSectionTextObject = documentObject.createElement('div');

                var totalSectionAmountObject = documentObject.createElement('div');
                var totalSectionAmountSpanTotalObject = documentObject.createElement('span');
                var totalSectionAmountSpanTotalSpanAmtObject = documentObject.createElement('span');
                var totalSectionBtnNextContainerObject = documentObject.createElement('div');
                var totalSectionBtnNextObject = documentObject.createElement('button');

                totalSectionObject.setAttribute('class', 'col-lg-12 col-md-12 col-sm-12 col-xs-12 total-section');
                totalSectionTextObject.setAttribute('class', 'col-lg-6 col-md-6 col-sm-6 col-xs-6 text left-align');
                totalSectionTextObject.setAttribute('style', 'padding: 0; margin-left: -25px;');

                if (!appConfig['merchant']['periods'][1]) {
                    totalSectionTextObject.innerHTML = 'Период действия билета ' + appConfig['merchant']['periods'][0] + ' ';
                } else {
                    totalSectionTextObject.innerHTML = 'Период действия билета: '
                }

                if (appConfig['merchant']['periodDescription']) {
                    var periodDescriptionObject = documentObject.createElement('a');

                    periodDescriptionObject.setAttribute('class', 'tooltip-top');
                    periodDescriptionObject.setAttribute('style', 'margin-left: 5px; font-size: 20px; color: #ea9334;');
                    periodDescriptionObject.setAttribute('data-tooltip', appConfig['merchant']['periodDescription']);

                    var totalSectionTextInfoObject = documentObject.createElement('i');

                    totalSectionTextInfoObject.setAttribute('class', 'fa fa-question-circle');

                    periodDescriptionObject.appendChild(totalSectionTextInfoObject);
                    totalSectionTextObject.appendChild(periodDescriptionObject);
                }

                totalSectionAmountObject.setAttribute('class', 'col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-right total left-align');
                totalSectionAmountObject.setAttribute('style', 'border-top: 5px solid #42575c; margin-right: -25px;');
                totalSectionAmountSpanTotalObject.setAttribute('class', 'total-price lower');
                totalSectionAmountSpanTotalSpanAmtObject.setAttribute('class', 'amt');
                totalSectionBtnNextContainerObject.setAttribute('class', 'col-lg-12 col-md-12 col-sm-12 col-xs-12 center-align btn-next order-form-btn');
                totalSectionBtnNextObject.setAttribute('class', 'btn btn-warning btn-lg btn-next-step');
                totalSectionBtnNextObject.setAttribute('data-ticket-chooser-go-to-next-step', 'data-ticket-chooser-go-to-next-step');
                totalSectionBtnNextObject.innerHTML = 'Далее';

                if (appConfig['merchant']['periods'][1]) {
                    for (var periodIndex in appConfig['merchant']['periods']) {
                        if (appConfig['merchant']['periods'].hasOwnProperty(periodIndex)) {
                            var totalSectionPeriodsContainerObject = documentObject.createElement('div');
                            totalSectionPeriodsContainerObject.setAttribute('class', 'radio');

                            var totalSectionPeriodLabelObject = documentObject.createElement('label');
                            var totalSectionPeriodRadioBtnObject = documentObject.createElement('input');

                            totalSectionPeriodRadioBtnObject.setAttribute('type', 'radio');
                            totalSectionPeriodRadioBtnObject.setAttribute('name', 'ticket-action-period');
                            totalSectionPeriodRadioBtnObject.setAttribute('value', periodIndex);

                            if (periodIndex == 0) {
                                totalSectionPeriodRadioBtnObject.setAttribute('checked', 'checked');
                            }

                            totalSectionPeriodLabelObject.appendChild(totalSectionPeriodRadioBtnObject);
                            totalSectionPeriodLabelObject.innerHTML += appConfig['merchant']['periods'][periodIndex];
                            totalSectionPeriodsContainerObject.appendChild(totalSectionPeriodLabelObject);

                            totalSectionTextObject.appendChild(totalSectionPeriodsContainerObject);
                        }
                    }
                }

                totalSectionAmountSpanTotalObject.appendChild(totalSectionAmountSpanTotalSpanAmtObject);
                totalSectionAmountSpanTotalSpanAmtObject.innerHTML = '0';
                totalSectionAmountSpanTotalObject.innerHTML += ' руб.';
                totalSectionAmountObject.appendChild(totalSectionAmountSpanTotalObject);
                totalSectionAmountObject.innerHTML = 'Итого: ' + totalSectionAmountObject.innerHTML;

                totalSectionBtnNextContainerObject.appendChild(totalSectionBtnNextObject);

                totalSectionObject.appendChild(totalSectionTextObject);
                totalSectionObject.appendChild(totalSectionAmountObject);
                totalSectionObject.appendChild(totalSectionBtnNextContainerObject);

                return totalSectionObject;
            },
            changeOrderAmount: function(amount, counterId) {
                var numberObject = documentObject.querySelector('#order-step-2 #ticket-chooser-counter-number-' + counterId);
                var amtObject = documentObject.querySelector('#order-step-2 div.total span.total-price span.amt');
                var amtEndStep = documentObject.querySelector('#order-step-3 div.total-end-price span.amt');

                var count = parseInt(numberObject.innerHTML);

                if (count <= 0 && amount <= 0) {
                    return this;
                }

                count = (amount < 0) ? --count : ++count;

                numberObject.innerHTML = count.toString();

                totalOrderAmount += amount;

                choosedTickets[counterId] = { 'count': count, 'amt': (amount * count) };

                amtEndStep.innerHTML = amtObject.innerHTML = totalOrderAmount.toString();
            },
            buildBuyTypeButton: function(ticketTypeIndex) {
                var stepItemButtonObject = documentObject.createElement('button');

                stepItemButtonObject.setAttribute('class', 'btn btn-warning btn-lg');
                stepItemButtonObject.setAttribute('data-ticket-type-id', ticketTypeIndex);
                stepItemButtonObject.innerHTML = 'Купить билет';

                return stepItemButtonObject;
            },
            showTicketsByType: function(event) {
                var stepItemContainer;
                var stepTitleObject;
                var stepDescriptionObject;

                var dataTicketTypeId = event.target.getAttribute('data-ticket-type-id');

                choosedTicketType = dataTicketTypeId;

                if (dataTicketTypeId && ticketsObjects[dataTicketTypeId]) {
                    if (stepObject && orderContainerObject) {
                        stepItemContainer = documentObject.querySelector('#order-step-2 .step-item-content');
                        stepTitleObject = documentObject.querySelector('#order-step-2 .order-form-section.title');
                        stepDescriptionObject = documentObject.querySelector('#order-step-2 .order-form-section.description');

                        stepItemContainer.innerHTML = '';
                        stepItemContainer.appendChild(ticketsObjects[dataTicketTypeId]);
                        stepTitleObject.innerHTML = {% autoescape true %}appConfig['merchant']['name'] + ' - ' + appConfig['tickets'][dataTicketTypeId]['typeName']{% endautoescape %};
                        stepDescriptionObject.innerHTML = appConfig['tickets'][dataTicketTypeId]['typeDescription'];

                        if (appConfig['additionalTicketsPrice'] && appConfig['additionalTicketsPrice'].length > 0) {
                            var additionalPriceOptionsObject = documentObject.createElement('div');
                            additionalPriceOptionsObject.setAttribute('class', 'col-lg-12 col-md-12 col-sm-12 col-xs-12');
                            additionalPriceOptionsObject.setAttribute('style', 'padding: 0; margin: 20px 0 0 -25px;');

                            for (var index = 0; index <= appConfig['additionalTicketsPrice'].length; index++) {
                                if (appConfig['additionalTicketsPrice'][index]) {
                                    var addTitle = appConfig['additionalTicketsPrice'][index]['title'];
                                    var addPrice = appConfig['additionalTicketsPrice'][index]['price'];

                                    var addPriceCheckBoxObject = documentObject.createElement('input');
                                    addPriceCheckBoxObject.setAttribute('type', 'checkbox');
                                    addPriceCheckBoxObject.setAttribute('class', 'regular-checkbox big-checkbox');
                                    addPriceCheckBoxObject.setAttribute('data-price-total-add', addPrice);
                                    addPriceCheckBoxObject.setAttribute('id', 'price-total-add-' + index);

                                    var addPriceLabelObject = documentObject.createElement('label');
                                    addPriceLabelObject.setAttribute('for', 'price-total-add-' + index);

                                    var addPriceTitleObject = documentObject.createElement('div');
                                    addPriceTitleObject.setAttribute('class', 'tag');
                                    addPriceTitleObject.innerHTML = addTitle;

                                    additionalPriceOptionsObject.appendChild(addPriceCheckBoxObject);
                                    additionalPriceOptionsObject.appendChild(addPriceLabelObject);
                                    additionalPriceOptionsObject.appendChild(addPriceTitleObject);
                                }
                            }

                            stepItemContainer.appendChild(additionalPriceOptionsObject);
                        }

                        stepItemContainer.appendChild(this.buildAmountSection());
                    }
                }

                var _stepCounter = stepCounter;

                this.removeClass(stepsObjects[_stepCounter], 'active').addClass(stepsObjects[_stepCounter + 1], 'active');

                return this;
            }
        };

        return {
            open: function(customOptions) {
                if (!_private.authentication()) {
                    alert('ошибка авторизации');
                }

                _private.init(customOptions);

                if (overlayObject) {
                    overlayObject.style.visibility = 'visible';
                }
            },
            close: function() {
                _private.close();
            }
        };
    }
)(window, document);